﻿@{
    ViewBag.Title = "Добавить роль";
}

@using EducationalProgramGenerator.WEB.Controllers
<h2>Управление</h2>
<h4>Изменение параметров учетной записи@(User.IsInRole("admin") ? (ViewBag.FullName != null ? string.Format(": {0}", ViewBag.FullName) : "") : "")</h4>
<hr />
@using (@Html.BeginForm("AddRole", "Manage", new { selectedUserId = ManageController.Encode(ViewBag.UserID) }, FormMethod.Post))
{
@Html.Label("Роль")
@Html.DropDownList("roleName", new SelectList(ViewBag.Roles), new { @class = "form-control", @style = "margin-bottom: 20px" })
    if (Enumerable.Count(ViewBag.Roles) > 0)
    {
<input type="submit" class="btn btn-primary btn-sm" value="Добавить" />
    }
    else
    {
<input type="submit" class="btn btn-primary btn-sm" value="Добавить" disabled="true" />
    }
}

