﻿@model EducationalProgramGenerator.WEB.Models.ChangeFullNameViewModel
@{
    ViewBag.Title = "Сменить ФИО";
}

<h2>Управление</h2>
<h4>Изменение параметров учетной записи@(User.IsInRole("admin") ? (ViewBag.FullName != null ? string.Format(": {0}", ViewBag.FullName) : "") : "")</h4>
<hr />
@using EducationalProgramGenerator.WEB.Controllers

@if (User.IsInRole("admin"))
{
    using (Html.BeginForm("ChangeFullName", "Manage", new { selectedUserId = ManageController.Encode(ViewBag.UserID) }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            <div style="color: red; display:inline">*</div>
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            <div style="color: red; display:inline">*</div>
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SecondName)
            @Html.TextBoxFor(m => m.SecondName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-sm" value="Сменить" />
        </div>
    }
}
else
{
    using (Html.BeginForm("ChangeFullName", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            <div style="color: red; display:inline">*</div>
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            <div style="color: red; display:inline">*</div>
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SecondName)
            @Html.TextBoxFor(m => m.SecondName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-sm" value="Сменить" />
        </div>
    }
}