﻿@model EducationalProgramGenerator.WEB.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Смена пароля";
}

<h2>Управление</h2>
<h4>Изменение параметров учетной записи</h4>
<hr />

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "editor-label" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-sm" value="Сменить" />
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}