﻿
@{
    ViewBag.Title = "Сменить должность";
}

@using EducationalProgramGenerator.WEB.Controllers
<h2>Управление</h2>
<h4>Изменение параметров учетной записи@(User.IsInRole("admin") ? (ViewBag.FullName != null ? string.Format(": {0}", ViewBag.FullName) : "") : "")</h4>
<hr />
@if (User.IsInRole("admin"))
{
    using (@Html.BeginForm("ChangeJobRole", "Manage", new { selectedUserId = ManageController.Encode(@ViewBag.UserID) }, FormMethod.Post))
    {
        @Html.Label("Должность")
        @Html.DropDownList("jobRoleId", new SelectList(@ViewBag.JobRoles, "Id", "Name"), new { @class = "form-control", @style = "margin-bottom: 20px" })
        <input type="submit" class="btn btn-primary btn-sm" value="Сменить" />
    }
}
else
{
    using (@Html.BeginForm("ChangeJobRole", "Manage", FormMethod.Post))
    {
        @Html.Label("Структурное подразделение")
        @Html.DropDownList("jobRoleId", new SelectList(@ViewBag.JobRoles, "Id", "Name"), new { @class = "form-control", @style = "margin-bottom: 20px" })
        <input type="submit" class="btn btn-primary btn-sm" value="Сменить" />
    }
}

