﻿
@{
    ViewBag.Title = "Сменить Email";
}
@using EducationalProgramGenerator.WEB.Models
@model ChangeEmailViewModel

@using EducationalProgramGenerator.WEB.Controllers

<h2>Управление</h2>
<h4>Изменение параметров учетной записи@(User.IsInRole("admin") ? (ViewBag.FullName != null ? string.Format(": {0}", ViewBag.FullName) : "") : "")</h4>
<hr />
@if (User.IsInRole("admin"))
{
    using (@Html.BeginForm("ChangeEmail", "Manage", new { selectedUserId = ManageController.Encode(@ViewBag.UserID) }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "margin-bottom: 20px" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        <input type="submit" class="btn btn-primary btn-sm" value="Сменить" />
    }
}
else
{
    using (@Html.BeginForm("ChangeEmail", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "margin-bottom: 20px" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        <input type="submit" class="btn btn-primary btn-sm" value="Сменить" />
    }
}