﻿@model EducationalProgramGenerator.WEB.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Управление";
}
@using EducationalProgramGenerator.WEB.Controllers

<div class="content-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="content">
    <div class="box box-solid">
        <div class="box-body">

        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h4>Изменение параметров учетной записи@(User.IsInRole("admin") ? (Model.FullName != null ? string.Format(": {0}", Model.FullName) : "") : "")</h4>
            <hr/>
            <dl class="dl-horizontal">
                <dt>ФИО</dt>
                <dd>
                    @(Model.FullName != null ? @Model.FullName : "Отсутствует") [
                    @(User.IsInRole("admin") ?
                          @Html.ActionLink("Изменить", "ChangeFullName", routeValues: new
                          {
                              selectedUserId = ManageController.Encode(Model.UserID)
                          })
                          : @Html.ActionLink("Изменить", "ChangeFullName"))
                    ]
                </dd>

                <dt>Пароль:</dt>
                <dd>
                    [
                    @(User.IsInRole("admin") ?
                          @Html.ActionLink("Установить", "SetPassword", routeValues: new
                          {
                              selectedUserId = ManageController.Encode(Model.UserID)
                          })
                          : (Model.HasPassword ? @Html.ActionLink("Изменить", "ChangePassword") : @Html.ActionLink("Установить", "SetPassword")))
                    ]
                </dd>
                <dt>Email</dt>
                <dd>
                    @(Model.UserName != null ? @Model.Email : "Отсутствует") [
                    @(User.IsInRole("admin") ?
                          @Html.ActionLink("Изменить", "ChangeEmail", routeValues: new
                          {
                              selectedUserId = ManageController.Encode(Model.UserID)
                          })
                          : @Html.ActionLink("Изменить", "ChangeEmail"))
                    ]
                </dd>
                @*<dt>Внешние имена входа:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Управление", "ManageLogins") ]
                </dd>*@
                <dt>Структурное подразделение</dt>
                <dd>
                    @(Model.StructureDepartment != null ? @Model.StructureDepartment.Name : "Отсутствует") [
                    @(User.IsInRole("admin") ?
                          @Html.ActionLink("Изменить", "ChangeStructureDepartment", routeValues: new
                          {
                              selectedUserId = ManageController.Encode(Model.UserID)
                          })
                          : @Html.ActionLink("Изменить", "ChangeStructureDepartment"))
                    ]
                </dd>
                <dt>Должность</dt>
                <dd>
                    @(Model.JobRole != null ? @Model.JobRole.Name : "Отсутствует") [
                    @(User.IsInRole("admin") ?
                          @Html.ActionLink("Изменить", "ChangeJobRole", routeValues: new
                          {
                              selectedUserId = ManageController.Encode(Model.UserID)
                          })
                          : @Html.ActionLink("Изменить", "ChangeJobRole"))]
                </dd>
                @if (User.IsInRole("admin"))
                {
                    <dt> Роль </dt>
                    foreach (var role in Model.Roles)
                    {
                        <dd>
                            @role @Html.ActionLink("Удалить", "RemoveUserRole", routeValues:
                                      new {selectedUserId = ManageController.Encode(Model.UserID), roleName = @role})
                        </dd>
                    }
                    <dd>
                        @Html.ActionLink("Добавить роль", "AddRole", routeValues:
                            new {selectedUserId = ManageController.Encode(Model.UserID)})
                    </dd>
                }
            </dl>
            @if (User.IsInRole("admin") && Model.UserID == User.Identity.GetUserId())
            {
                <h3>Функции</h3>
                <div>@Html.ActionLink("Управление пользователями", "ManageUsers")</div>
                <div>@Html.ActionLink("Управление таблицами", "Index", "Admin")</div>
            }
        </div>
    </div>
</div>
</div>