﻿
@{
    ViewBag.Title = "Управление пользователями";
}

@using EducationalProgramGenerator.WEB.Controllers
<h2>Пользователи</h2>
<hr />
@foreach (var user in ViewBag.Users)
{
    @Html.ActionLink(string.Format("{0} {1} {2} ({3})", (string)user.LastName, (string)user.FirstName, (string)user.SecondName, (string)user.UserName), "Index",
    routeValues: new { selectedUserId = ManageController.Encode(user.Id) })
    <br />
}