﻿@model EducationalProgramGenerator.WEB.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Создать пароль";
}

<h2>Управление</h2>
<h4>Изменение параметров учетной записи@(User.IsInRole("admin") ? (ViewBag.FullName != null ? string.Format(": {0}", ViewBag.FullName) : "") : "")</h4>
<hr />
@using EducationalProgramGenerator.WEB.Controllers
@if (User.IsInRole("admin"))
{
    using (Html.BeginForm("SetPassword", "Manage", new { selectedUserId = ManageController.Encode(ViewBag.UserID) }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-sm" value="Установить" />
        </div>
    }
}
else
{
    using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-sm" value="Установить" />
        </div>
    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}