
/*

   ____                   ______    _                 _   _             _   _      _   
  / __ \                 |  ____|  | |               | | (_)           | \ | |    | |  
 | |  | |_ __   ___ _ __ | |__   __| |_   _  ___ __ _| |_ _  ___  _ __ |  \| | ___| |_ 
 | |  | | '_ \ / _ \ '_ \|  __| / _` | | | |/ __/ _` | __| |/ _ \| '_ \| . ` |/ _ \ __|
 | |__| | |_) |  __/ | | | |___| (_| | |_| | (_| (_| | |_| | (_) | | | | |\  |  __/ |_ 
  \____/| .__/ \___|_| |_|______\__,_|\__,_|\___\__,_|\__|_|\___/|_| |_|_| \_|\___|\__|
        | |                                                                            
        |_|       

MainCSS
*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
html,
body {
    min-height: 100%
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto
}

.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden
}

.wrapper:before,
.wrapper:after {
    content: " ";
    display: table
}

.wrapper:after {
    clear: both
}

.content-wrapper,
.main-footer {
    -webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out;
    transition: transform .3s ease-in-out, margin .3s ease-in-out;
    margin-left: 230px;
    z-index: 820
}

@media (max-width:767px) {
    .content-wrapper,
    .main-footer {
        margin-left: 0
    }
}

.content-wrapper {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800
}

.main-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de
}

body.hold-transition .content-wrapper,
body.hold-transition .main-footer,
body.hold-transition .main-sidebar,
body.hold-transition .main-header .navbar,
body.hold-transition .main-header .logo {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

h1,
h3,
h4 {
    font-family: 'Source Sans Pro', sans-serif
}

a {
    color: #3c8dbc
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: #72afd2
}

.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030
}

.main-header .navbar {
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 50px;
    border-radius: 0
}

.main-header .navbar-custom-menu {
    float: right
}

@media (max-width:991px) {
    .main-header .navbar-custom-menu a {
        color: inherit;
        background: transparent
    }
}

.main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: fontAwesome
}

.main-header .sidebar-toggle:before {
    content: "\f0c9"
}

.main-header .sidebar-toggle:hover {
    color: #fff
}

.main-header .sidebar-toggle:focus,
.main-header .sidebar-toggle:active {
    background: transparent
}

.main-header .logo {
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden
}

.main-header .logo .logo-lg {
    display: block
}

.main-header .logo .logo-mini {
    display: none
}

.content-header {
    position: relative;
    padding: 15px 15px 0 15px
}

.content-header>h1 {
    margin: 0;
    font-size: 24px
}

.content-header>h1>small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300
}

.content-header>.breadcrumb {
    float: left;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px
}

.content-header>.breadcrumb>li>a {
    color: #444;
    text-decoration: none;
    display: inline-block
}

.content-header>.breadcrumb>li>a>.fa {
    margin-right: 5px
}

.content-header>.breadcrumb>li+li:before {
    content: '>\00a0'
}

@media (max-width:991px) {
    .content-header>.breadcrumb {
        position: relative;
        margin-top: 5px;
        top: 0;
        right: 0;
        float: none;
        background: #d2d6de;
        padding-left: 10px
    }
    .content-header>.breadcrumb li:before {
        color: #97a0b3
    }
}

@media (max-width:991px) {
    .navbar-custom-menu .navbar-nav>li {
        float: left
    }
    .navbar-custom-menu .navbar-nav {
        margin: 0;
        float: left
    }
    .navbar-custom-menu .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px
    }
}

@media (max-width:767px) {
    .main-header {
        position: relative
    }
    .main-header .logo,
    .main-header .navbar {
        width: 100%;
        float: none
    }
    .main-header .navbar {
        margin: 0
    }
    .main-header .navbar-custom-menu {
        float: right
    }
}

.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out
}

@media (max-width:767px) {
    .main-sidebar {
        padding-top: 100px
    }
}

@media (max-width:767px) {
    .main-sidebar {
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0)
    }
}

.sidebar {
    padding-bottom: 10px
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0
}

.sidebar-menu>li>a {
    padding: 12px 5px 12px 15px;
    display: block
}

.sidebar-menu>li>a>.fa {
    width: 20px
}

.sidebar-menu>li .label {
    margin-right: 5px
}

.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px
}

.sidebar-menu li>a>.pull-right-container>.fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px
}

.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px
}

.sidebar-menu .treeview-menu>li {
    margin: 0
}

.sidebar-menu .treeview-menu>li>a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px
}

.sidebar-menu,
.sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden
}

.sidebar-menu:hover {
    overflow: visible
}

.sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip
}

.sidebar-menu li>a {
    position: relative
}

.sidebar-menu li>a>.pull-right-container {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px
}

.control-sidebar-heading {
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0;
    margin-bottom: 10px
}

.control-sidebar-subheading {
    display: block;
    font-weight: 400;
    font-size: 14px
}

.control-sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0 -15px
}

.control-sidebar-menu>li>a {
    display: block;
    padding: 10px 15px
}

.control-sidebar-menu>li>a:before,
.control-sidebar-menu>li>a:after {
    content: " ";
    display: table
}

.control-sidebar-menu>li>a:after {
    clear: both
}

.control-sidebar-menu>li>a>.control-sidebar-subheading {
    margin-top: 0
}

.control-sidebar-menu .progress {
    margin: 0
}

.dropdown-menu {
    box-shadow: none;
    border-color: #eee
}

.navbar-nav>.user-menu>.dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px
}

.navbar-nav>.user-menu>.dropdown-menu,
.navbar-nav>.user-menu>.dropdown-menu>.user-body {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0.2)
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    z-index: 5;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    margin-top: 10px
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p>small {
    display: block;
    font-size: 12px
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body {
    padding: 15px;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body:before,
.navbar-nav>.user-menu>.dropdown-menu>.user-body:after {
    content: " ";
    display: table
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body:after {
    clear: both
}

.navbar-nav>.user-menu>.dropdown-menu>.user-body a {
    color: #444 !important
}

@media (max-width:991px) {
    .navbar-nav>.user-menu>.dropdown-menu>.user-body a {
        background: #fff !important;
        color: #444 !important
    }
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #f9f9f9;
    padding: 10px
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer:before,
.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after {
    content: " ";
    display: table
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer:after {
    clear: both
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
    color: #666666;
    
    
}

@media (max-width:991px) {
    .navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default:hover {
        background-color: #f9f9f9
    }
}

.navbar-nav>.user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px
}

@media (max-width:767px) {
    .navbar-nav>.user-menu .user-image {
        float: none;
        margin-right: 0;
        margin-top: -8px;
        line-height: 10px
    }
}

.navbar-custom-menu>.navbar-nav>li {
    position: relative
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    right: 0;
    left: auto
}

@media (max-width:991px) {
    .navbar-custom-menu>.navbar-nav {
        float: right
    }
    .navbar-custom-menu>.navbar-nav>li {
        position: static
    }
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
        position: absolute;
        right: 5%;
        left: auto;
        border: 1px solid #ddd;
        background: #fff
    }
}

.progress,
.progress>.progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none
}

.progress,
.progress>.progress-bar,
.progress .progress-bar {
    border-radius: 1px
}

.progress-xxs {
    height: 3px
}

.progress-xxs,
.progress-xxs .progress-bar {
    border-radius: 1px
}

.progress-bar-primary {
    background-color: #3c8dbc
}

.progress-bar-success {
    background-color: #00a65a
}

.progress-bar-warning {
    background-color: #ff002f
}
.progress-bar-yellow {
    background-color: #f39c12
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.box.box-default {
    
    background-color: white;
    border-bottom: 1px solid #d2d6de;
    border-top: 1px solid #d2d6de;
    border-right: 1px solid #d2d6de;
    border-left: 3px solid #d2d6de;
    padding: 5px;
}
.box.lection{
    
    border-left-color: #3c8dbc;
}
.box.practice {
    border-left-color: #5cb85c;
    
}

.box.sro {
    border-left-color: #f39c12;
    
}

.box.collapsed-box .box-body {
    display: none
}

.box.box-solid {
    border-top: 0
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
    content: " ";
    display: table
}

.box-header:after,
.box-body:after,
.box-footer:after {
    clear: both
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4
}

.collapsed-box .box-header.with-border {
    border-bottom: none
}

.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;

    line-height: 1
}

 .box-header>.box-tools {
    position: absolute;
    right: 10px;
top: 10px;
}
.box-tools-checkbox {
    position: relative;
    display: inline-block;
    right: 10px;
}

.btn-box-tool {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: 16px;
    background: transparent;
    color: #97a0b3
}
.btn-box-tool-checkbox {
    

    display: block;
    padding-left: 5px;
    padding-top: 50%;
    font-size: 16px;
    background: transparent;
    color: #97a0b3
}
.btn-box-tool:hover {
    color: #606c84
}

.btn-box-tool.btn:active {
    box-shadow: none
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff
}

.box-literature{
    padding-top: 10px;
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    padding-top: 10px;
}

.todo-list>li {
    border-radius: 2px;
    padding: 10px;
    background: #f4f4f4;
    margin-bottom: 2px;
    border-left: 2px solid #e6e7e8;
    color: #444
}

.todo-list>li:last-of-type {
    margin-bottom: 0
}

.todo-list>li .text {
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600
}

.todo-list>li .label {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    font-size: 12px
}

.label-sro-hrs  {
    display: inline-block;
     float: right;
    padding-right: 100px;
    margin-top: 10px;
    font-size: 12px
}
.label-practice-hrs {
    display: inline-block;
     float: right;
     padding-right: 165px;
    margin-top: 10px;
    font-size: 12px
}
.label-lection-hrs {
    display: inline-block;
     float: right;
     margin-right: 230px;
    margin-top: 10px;
    font-size: 12px
}
.todo-list>li .tools {
    
    float: right;
    color: #444;

}

.todo-list>li .tools>.fa {
    margin-right: 5px;
    cursor: pointer
}

.todo-list>li:hover .tools {
    display: inline-block;
    border-style: dotted;
    border: 2px;
}

.todo-list .handle {
    display: inline-block;
    cursor: move;
    
}


.dashboard-widget.dragged {
  position: absolute;
  z-index: 1;
  background: #fafafa;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.dashboard-widget-draggableHandle {
  position: absolute;
  top: 0px;
  bottom: -1px;
  left: -5px;
  width: 18px;
  cursor: url(data:application/octet-stream;base64,AAACAAEAICACAAgACAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8AAAA/AAAAfwAAAP+AAAH/gAAB/8AAA//AAAd/wAAGf+AAAH9gAADbYAAA2yAAAZsAAAGbAAAAGAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////gH///4B///8Af//+AD///AA///wAH//4AB//8AAf//AAD//5AA///gAP//4AD//8AF///AB///5A////5///8=), move;
}
.box-default:hover .dashboard-widget-draggableHandle {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEAQMAAACTPww9AAAABlBMVEX///+ysrJghOeaAAAADElEQVQI12MQYAADAAB4ABGa6VvEAAAAAElFTkSuQmCC');
}
.dashboard-widget.dragged,
.dashboard-widget.dragged .dashboard-widget-draggableHandle,
.dashboard-widget-draggableHandle:active {
  cursor: url(data:application/octet-stream;base64,AAACAAEAICACAAgACAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAAAEAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD8AAAA/AAAAfwAAAP+AAAH/gAAB/8AAAH/AAAB/wAAA/0AAANsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//////////////////////////////////////////////////////////////////////////////////////gH///4B///8Af//+AD///AA///wAH//+AB///wAf//4AH//+AD///yT/////////////////////////////8=), move;
}



.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}

.btn.btn-flat {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px
}

.btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn:focus {
    outline: none
}

.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd
}

.btn-default:hover,
.btn-default:active {
    background-color: #e7e7e7
}
.btn-white {
    background-color: white;
    color: #444;
    border-color: #ddd;
    font-size: 18px;
}

.btn-white:hover,
.btn-white:active {
    background-color: #f4f4f4
}

.nav>li>a:hover,
.nav>li>a:active
 {
    color: #444;
    background: #f7f7f7
}
.nav>li>a:focus {
    border-left: 20px;
    border-left-color: #5cb85c;
    border-color: aqua;
}
.label-warning,
.label-primary,
.label-green
.label-yellow{
    color: #fff !important;
    
}

.label-warning {
    background-color: #ff002f !important
}

.label-primary {
    background-color: #3c8dbc !important;
    
}

.label-green {
    background-color: #00a65a !important
}
.label-yellow {
    background-color: #f39c12 !important
}
.no-border {
    border: 0 !important
}

.no-padding {
    padding: 0 !important
}
.fa-sro{
    color: #f39c12
}
.fa-lec{
    color: #3c8dbc
}
.fa-pra{
    color: #00a65a
}
.description-block {
  display: block;

  text-align: left;
    width: 80%;
}
.description-block.margin-bottom {
  margin-bottom: 25px;
}
.description-block > .description-header {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
}
.description-block > .description-text {
  text-transform: uppercase;
}
@media print {
    .main-sidebar,
    .main-header,
    .content-header {
        display: none !important
    }
    .content-wrapper,
    .main-footer {
        margin-left: 0 !important;
        min-height: 0 !important;
        -webkit-transform: translate(0, 0) !important;
        -ms-transform: translate(0, 0) !important;
        -o-transform: translate(0, 0) !important;
        transform: translate(0, 0) !important
    }
}

/* ВТОРОЙ ЭКРАН - ЗНАТЬ УМЕТЬ ВЛАДЕТЬ*/
.zum-list {
    margin: 0;
    padding: 5px;
    width: 100%;
    list-style: none;
    overflow: auto;
    background: #f4f4f4;
}

.zum-list>li {
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    margin-bottom: 5px;
    border-left: 2px solid #e6e7e8;
    color: #444
}

.zum-list>li:last-of-type {
    margin-bottom: 0
}

.zum-list>li .text {
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600
}

.zum-list>li .label {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    font-size: 12px
}

}
.zum-list>li .tools {
    float: right;
    color: #444;

}

.zum-list>li .tools>.fa {

    margin-right: 5px;
    cursor: pointer
}
.box-header .zum-title {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    line-height: 1
}


.text-zum {
    font-size: 14px;
    font-weight: 400;
}
.box-header-zum {
    font-size: 16px;
    font-weight: bold;
}

.zum-header-list {
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
}

.zum-header-desc {
    padding-left: 10px;
}
.box .nav-stacked > li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
}
.box .nav-stacked > li:last-of-type {
  border-bottom: none;
}
.zum-active {
    border-left: 20px;
    border-color: aqua;
}
 .form-control + .tooltip > .tooltip-inner {
      
      width: 300px;
  }
.form-control + .tooltip > .tooltip-inner {
      
      width: 300px;
  }
}

.logouniver {
    width: 20%;
    height: auto;
}

.semestr {
    font-weight: 600;
    font-size: 14px;
   margin-top: 20px;
    
}
/*Для меню*/

.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
 
}
.small-box > .inner {
  padding: 10px;
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 23px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
 
}
.small-box p {
  font-size: 15px;
}
.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5;
}
.small-box .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  bottom: -10px;
  right: 10px;
  z-index: 0;
  font-size: 85px;
  color: rgba(0, 0, 0, 0.10);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.small-box:hover .icon {
  font-size: 90px;
}
@media (max-width: 767px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-warning,
.label-primary,
.label-success,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  color: #fff !important;
}

.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #00c0ef !important;
}

[class^="bg-"].disabled {
  opacity: 0.65;
  filter: alpha(opacity=65);
}
/* Content */
.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Source Sans Pro', sans-serif;
}
/* General Links */
a {
  color: #3c8dbc;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #72afd2;
}
/* Page Header */
.page-header {
  margin: 10px 0 20px 0;
  font-size: 22px;
}
.page-header > small {
  color: #666;
  display: block;
  margin-top: 5px;
}

textarea{
    resize:vertical;
}

body{
    height: 100%;
}