﻿@using EducationalProgramGenerator.BLL.DTO
@model PlanItemDTO

@{
    ViewBag.Title = "Копирование";
}

<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active"><a href="/RpdGenerator">Курсы</a></li>
    <li class="active"><a href="@Html.Raw(Url.Action("Menu", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))">@ViewBag.Discipline</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<section class="content">
    <div class="row">
        <div class="col-md-11">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        <h4>Загрузить РПД</h4>
                        @using (Html.BeginForm("CopyRPD", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="file" name="upload" />
                            <br>
                            <input type="submit" class="btn btn-primary btn-sm" value="Загрузить" />
                        }
                        <hr/>
                        <div id="results">
                            @if (Model != null)
                            {
                                <h3>Цели</h3>
                                <p><pre>@((Model.Knowledges[0] as DisciplineDTO).Goals)</pre></p>
                                <h3>Задачи</h3>
                                <p><pre>@((Model.Knowledges[0] as DisciplineDTO).Tasks)</pre></p>

                                <h3>Место учебной дисциплины в структуре образовательной программы</h3>
                                <h4>Предыдущие дисциплины</h4>
                                <ul>
                                    @foreach (var dis in (Model.Knowledges[0] as DisciplineDTO).PreviousDisciplines)
                                    {
                                        <li>@dis.Name</li>
                                    }
                                </ul>

                                <h4>Последующие дисциплины</h4>
                                <ul>
                                    @foreach (var dis in (Model.Knowledges[0] as DisciplineDTO).NextDisciplines)
                                    {
                                        <li>@dis.Name</li>
                                    }
                                </ul>

                                <h3>Компетенции</h3>
                                foreach (var c in Model.Knowledges[0].Results.Where(x => x.GetType() == typeof(CompetencyDTO)).Cast<CompetencyDTO>().ToList())
                                {
                                    <h4>@c.Code</h4>
                                    <p>@c.Description</p>
                                    <h5>Знать</h5>
                                    <ul>
                                        @foreach (var item in Model.Knowledges[0].Results.Where(x => x.GetType() == typeof(DisciplineLODTO))
                                            .Cast<DisciplineLODTO>().Where(x => x.Competency == c && x.Type == "Знать").ToList())
                                        {
                                            <li>@item.Description</li>
                                        }
                                    </ul>
                                    <h5>Уметь</h5>
                                    <ul>
                                        @foreach (var item in Model.Knowledges[0].Results.Where(x => x.GetType() == typeof(DisciplineLODTO))
                                            .Cast<DisciplineLODTO>().Where(x => x.Competency == c && x.Type == "Уметь").ToList())
                                        {
                                            <li>@item.Description</li>
                                        }
                                    </ul>
                                    <h5>Владеть</h5>
                                    <ul>
                                        @foreach (var item in Model.Knowledges[0].Results.Where(x => x.GetType() == typeof(DisciplineLODTO))
                                            .Cast<DisciplineLODTO>().Where(x => x.Competency == c && x.Type == "Владеть").ToList())
                                        {
                                            <li>@item.Description</li>
                                        }
                                    </ul>
                                }

                                <h3>Литература</h3>
                                     <h4>Основная литература</h4>
                                     <ol>
                                         @foreach (var item in Model.Knowledges[0].Literature
                                             .Where(x => x.Section == "Основная литература")
                                             .Cast<OtherLiteratureDTO>()
                                             .ToList())
                                         {
                                             <li>@item.Description</li>
                                         } 
                                     </ol>
                                    <h4>Дополнительная литература</h4>
                                     <ol>
                                         @foreach (var item in Model.Knowledges[0].Literature
                                             .Where(x => x.Section == "Дополнительная литература")
                                             .Cast<OtherLiteratureDTO>()
                                             .ToList())
                                         {
                                             <li>@item.Description</li>
                                         }
                                     </ol>
                                     <h4>Электронные ресурсы сети Интернет</h4>
                                <ol>
                                    @foreach (var item in Model.Knowledges[0].Literature
                                        .Where(x => x.Section == "Электронные ресурсы сети Интернет")
                                        .Cast<OtherLiteratureDTO>()
                                        .ToList())
                                    {
                                        <li>@item.Description</li>
                                    }
                                </ol>
                                using (Html.BeginForm("SaveCopy", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline}, FormMethod.Post))
                                {
                                    <input type="submit" class="btn btn-primary btn-sm" value="Принять" />    
                                }

                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</section>