﻿
@{
    ViewBag.Title = "О курсе";
}

<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active"><a href="/RpdGenerator">Курсы</a></li>
    <li class="active"><a href="@Html.Raw(Url.Action("Menu", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))">@ViewBag.Discipline</a></li>
    <li class="active">О курсе</li>
</ol>
<section class="content-header">

    <h1>
        @ViewBag.Discipline
        <small>@ViewBag.StartYear г.</small>
    </h1>


</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Информация о курсе</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-10">
                        <div class="form-group">

                            <label>Автор курса:</label>
                            <div class="input-group col-xs-12">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <select id="authors" class="form-control select2" multiple="multiple" data-placeholder="Нажмите, чтобы выбрать" style="width: 100%;">
                                    @for (int i = 0; i < ViewBag.Authors.Count; i++)
                                    {
                                        <option selected="@ViewBag.SelectedAuthors[i]" id="@ViewBag.Authors[i].Id">
                                        @(ViewBag.Authors[i].LastName + " " + ViewBag.Authors[i].FirstName)
                                        (@{ var str = ViewBag.Authors[i].StructureDepartment.ShortName;
                                            var parent = ViewBag.Authors[i].StructureDepartment.Parent;
                                            str = parent.ShortName + ", " + str;
                                            /*while (parent != null)
                                            {
                                                str = parent.Name + ", " + str;
                                                parent = parent.Parent;
                                            } */
                                                @:@str
                                         }
                                            @(ViewBag.Authors[i].JobRole != null ? "/  " + ViewBag.Authors[i].JobRole.Name : ""))</option>
                                    }
                                </select>
                                <!--<input type="text" class="form-control" data-toggle="tooltip" data-placement="right" title="Напишите ФИО разработчика РПД по этому курсу. Как правило им являетесь Вы :)" placeholder="Автор курса">
                                    -->
                            </div>
                            <br>
                            <!-- textarea -->
                            <div class="form-group">
                                <label>Цели курса</label>
                                <textarea id="goals" class="form-control" onkeyup="addGoals()" rows="3" placeholder="Введите цели курса ...">@ViewBag.Goals</textarea>
                            </div>
                            <div class="form-group">
                                <label>Задачи курса</label>
                                <textarea id="tasks" class="form-control" onkeyup="addTasks()" rows="3" placeholder="Введите задачи курса ...">@ViewBag.Tasks</textarea>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="col-md-4">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Информация об университете</h3>
                </div>

                <div class="box-body">
                    <img class="logouniver" src="http://www.csu.ru/PublishingImages/glav-str/%D0%A4%D0%B0%D0%BA%D1%83%D0%BB%D1%8C%D1%82%D0%B5%D1%82%20%D0%95%D0%B2%D1%80%D0%B0%D0%B7%D0%B8%D0%B8%20%D0%B8%20%D0%92%D0%BE%D1%81%D1%82%D0%BE%D0%BA%D0%B0/%D0%A7%D0%B5%D0%BB%D0%B3%D1%83.jpg" alt="">
                    Название ВУЗа
                </div>

            </div>
        </div>


        -->
        <!-- /.box-body -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Место учебной дисциплины в структуре образовательной программы</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Предшествующие дисциплины</label>
                                <select id="previous" class="form-control select2" multiple="multiple" data-placeholder="Нажмите, чтобы выбрать" style="width: 100%;">
                                    @for (int i = 0; i < ViewBag.PreviousDisciplines.Count; i++)
                                    {
                                        <option selected="@ViewBag.SelectedPreviousDisciplines[i]">@ViewBag.PreviousDisciplines[i]</option>
                                    }
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Последующие дисциплины</label>
                                <select id="next" class="form-control select2" multiple="multiple" data-placeholder="Нажмите, чтобы выбрать" style="width: 100%;">
                                    @for (int i = 0; i < ViewBag.NextDisciplines.Count; i++)
                                    {
                                        <option selected="@ViewBag.SelectedNextDisciplines[i]">@ViewBag.NextDisciplines[i]</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- /.content -->

<script type="text/javascript">
    $('.select2').select2();
    //ЕСЛИ ВСЁ ПОШЛО ПО ПИЗДЕ С СЕЛЕКТАМИ, ЮЗ ЗИС, БЛЯТЬ
    $('select').on('change', function (evt) {
        $('.select2-selection__choice').each(function () {
            $(this).removeAttr('title');
        });
    });
    $(".select2-selection__choice").on('mouseover', function () {
        $(this).removeAttr("title");
    });
    //ENDOFБЛЯТЬ
    var goalsCounter = 0;

    function addGoals() {
        var i = ++goalsCounter;
        setTimeout(function() {
            if (i == goalsCounter) {
                $.ajax({
                    url: '@Url.Action("AddGoals")',
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        goals: $('#goals').val(),
                        plan: '@ViewBag.Plan',
                        discipline: '@ViewBag.Discipline'}),
                    error: function (result) {
                        alert("Something went wrong...");
                    }
                });
        }
        }, 1000);
    }

    var tasksCounter = 0;

    function addTasks() {
        var i = ++tasksCounter;
        setTimeout(function() {
            if (i == tasksCounter) {
                $.ajax({
                    url: '@Url.Action("AddTasks")',
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        tasks: $('#tasks').val(),
                        plan: '@ViewBag.Plan',
                        discipline: '@ViewBag.Discipline'}),
                    error: function (result) {
                        alert("Something went wrong...");
                    }
                });
        }
        }, 1000);
    }

    $('#previous').on("select2:select", function(e) {
        $.ajax({
                    url: '@Url.Action("AddPreviousDiscipline")',
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        previous: e.params.data.text,
                        plan: '@ViewBag.Plan',
                        discipline: '@ViewBag.Discipline'}),
                    error: function (result) {
                        alert("Something went wrong...");
                    }
                });
    });
    $('#previous').on("select2:unselect", function(e) {
         $.ajax({
                    url: '@Url.Action("RemovePreviousDiscipline")',
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        previous: e.params.data.text,
                        plan: '@ViewBag.Plan',
                        discipline: '@ViewBag.Discipline'}),
                    error: function (result) {
                        alert("Something went wrong...");
                    }
                });
    });

    $('#next').on("select2:select", function(e) {
        $.ajax({
                    url: '@Url.Action("AddNextDiscipline")',
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        next: e.params.data.text,
                        plan: '@ViewBag.Plan',
                        discipline: '@ViewBag.Discipline'}),
                    error: function (result) {
                        alert("Something went wrong...");
                    }
                });
    });
    $('#next').on("select2:unselect", function(e) {
         $.ajax({
                    url: '@Url.Action("RemoveNextDiscipline")',
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        next: e.params.data.text,
                        plan: '@ViewBag.Plan',
                        discipline: '@ViewBag.Discipline'}),
                    error: function (result) {
                        alert("Something went wrong...");
                    }
                });
    });

    $('#authors').on("select2:select", function(e) {
        $.ajax({
                    url: '@Url.Action("AddDisciplineAuthor")',
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        id: $(e.params.data.element).attr('id'),
                        plan: '@ViewBag.Plan',
                        discipline: '@ViewBag.Discipline'}),
                    error: function (result) {
                        alert("Something went wrong...");
                    }
                });
    });
    $('#authors').on("select2:unselect", function(e) {
         $.ajax({
                    url: '@Url.Action("RemoveDisciplineAuthor")',
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        id: $(e.params.data.element).attr('id'),
                        plan: '@ViewBag.Plan',
                        discipline: '@ViewBag.Discipline'}),
                    error: function (result) {
                        alert("Something went wrong...");
                    }
                });
    });
</script>