﻿@{
    ViewBag.Title = "Литература";
}

<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active"><a href="/RpdGenerator">Курсы</a></li>
    <li class="active"><a href="@Html.Raw(Url.Action("Menu", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))">@ViewBag.Discipline</a></li>
    <li class="active">Литература</li>
</ol>

<section class="content-header">
    <h1>
        Библиографический список
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-11">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        <div id="partial">

                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</section>

<div name="popups">

    @Html.Partial("ModalPartialView")

    
</div>

<script type="text/javascript">
    var selectedSection = "";
    var selectedValue = 1;
    var idToRemove = 0;
    var inputs = {};

    function getInputs() {
        $('.modal-body input').each(function () {
            inputs[$(this).attr('name')] = $(this).val();
        })
    }

    function updateResult() {
        getInputs();
        $.ajax({
            url: '@Url.Action("GetLiteratureResult")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                type: selectedValue,
                inputs: inputs }),
            success: function (result) {
                if (result.data == "success")
                    $("#result").html(result.result);
                else
                    alert("Something went wrong...");
            },
            error: function (result) {
                alert("Something went wrong...");
            }
        });
    }

    function getResult() {
        updateResult();
    }

    function setSelectedSection(section) {
        selectedSection = section;
    }

    function changeSelectedValue(obj) {
        selectedValue = obj.value;
    }

    function Update() {
        $('#partial').load('@Html.Raw(Url.Action("GetDisciplineLiterature", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))');
    }

    $(document).ready(function (){
        Update();
    });

    function save() {
        getInputs();
        $.ajax({
            url: '@Url.Action("SaveLiteratureItem")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                plan: '@ViewBag.Plan',
                discipline: '@ViewBag.Discipline',
                section: selectedSection,
                type: selectedValue,
                inputs: inputs
            }),
            success: function (result) {
                if (result.data == "success") {
                    $('#popup').modal("hide");
                    Update();
                }
                else if (result.errors != null) {
                    $('#errors').empty();
                    arr = result.errors;
                    arr.forEach(function (err, i, arr) {
                        $('#errors').append('<li>' + err.ErrorMessage + '</li>');
                    });
                }
                else
                    alert("Something went wrong...");
            },
            error: function (result) {
                alert("Something went wrong...");
            }
        });

    }

    function callAddPopup(value) {
        selectedValue = value;
        $('#popup .modal-dialog').attr('style', 'width: 60%;');
        $('#popup .modal-body').load('@Html.Raw(Url.Action("GetLiteratureItem", "RpdGenerator"))?type=' + selectedValue);
        $('#popup').modal("show");
    }

    function callEditPopup(id) {
        $('#popup .modal-dialog').attr('style', 'width: 60%;');
        $('#popup .modal-body').load('@Html.Raw(Url.Action("GetLiteratureItem", "RpdGenerator",
                                     new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline, @id = "js-id" }))'
            .replace("js-id", encodeURIComponent(id)), function () {
                $('#popup').modal("show");
                updateResult();
            });
    }

    function callRemovePopup(id) {
        idToRemove = id;
        $('#remove-popup').modal("show");
    }

    function remove() {
        $.ajax({
            url: '@Url.Action("RemoveLiteratureItem")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                id: idToRemove
            }),
            success: function (result) {
                if (result.data == "success")
                    Update();
                else
                    alert("Something went wrong...");
            },
            error: function (result) {
                alert("Something went wrong...");
            }
        });
    }
</script>