﻿@using Microsoft.AspNet.Identity.Owin
@using EducationalProgramGenerator.BLL.Interfaces;
@model EducationalProgramGenerator.WEB.Models.EditDisciplineViewModel
@{
    ViewBag.Title = "Генератор РПД";
}

<div> <!-- class="content-wrapper" -->
    <!-- Content Header-->
    <section class="content-header">
        <h1>
            @ViewBag.Discipline
        </h1>
    </section>
    <!-- Main content -->
    @using (Html.BeginForm("EditDiscipline", "RpdGenerator", new {plan = ViewBag.Plan, discipline = ViewBag.Discipline}, FormMethod.Post))
    {
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body">
                            <div class="box-group" id="accordion">
                                <div class="panel box box-primary">
                                    <div class="box-header with-border">
                                        <h4 class="box-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                #1 Вводная часть
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="box-body">

                                            <!-- text input -->
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Author)
                                                @Html.TextBoxFor(m => m.Author,
                                                new { @class = "form-control", placeholder = "Введите автора ..." })
                                                @Html.ValidationMessageFor(model => model.Author)
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Goals)
                                                @Html.TextAreaFor(m => m.Goals,
                                                new { @class = "form-control", rows = "3", placeholder = "Опишите цели ..." })
                                                @Html.ValidationMessageFor(model => model.Goals)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Tasks)
                                                @Html.TextAreaFor(m => m.Tasks,
                                                new { @class = "form-control", rows = "3", placeholder = "Опишите задачи ..." })
                                               @Html.ValidationMessageFor(model => model.Tasks)
                                            </div>
                                            <div class="form-group">
                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            @Html.LabelFor(m => m.Previous)
                                                            @Html.TextAreaFor(m => m.Previous,
                                                            new { @class = "form-control textarea-disciplines", rows = "10",
                                                                @readonly = "true", @id = "previous-disciplines",
                                                                placeholder = "Нажмите для выбора дисциплин...",
                                                                style = "background: #ffffff"})
                                                        </div>
                                                        <div class="col-xs-6">
                                                            @Html.LabelFor(m => m.Next)
                                                            @Html.TextAreaFor(m => m.Next,
                                                            new { @class = "form-control textarea-disciplines", rows = "10",
                                                                @readonly = "true", @id = "next-disciplines",
                                                                placeholder = "Нажмите для выбора дисциплин...",
                                                                style = "background: #ffffff"})
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Competencies)
                                                @for (int i = 0; i < @ViewBag.Competencies.Count; i++)
                                                {
                                                    <br/>
                                                    <p><label>@ViewBag.Competencies[i]</label></p>
                                                    <div class="box-body">
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                @Html.TextAreaFor(m => m.Competencies[i].ToKnow,
                                                                                                            new { @class = "form-control", rows = "3", placeholder = "Знать ..." })
                                                                @Html.ValidationMessageFor(model => model.Competencies[i].ToKnow)
                                                            </div>
                                                            <div class="col-xs-4">
                                                                @Html.TextAreaFor(m => m.Competencies[i].ToCan,
                                                                                                            new { @class = "form-control", rows = "3", placeholder = "Уметь ..." })
                                                                @Html.ValidationMessageFor(model => model.Competencies[i].ToCan)
                                                            </div>
                                                            <div class="col-xs-4">
                                                                @Html.TextAreaFor(m => m.Competencies[i].ToOwn,
                                                                                                            new { @class = "form-control", rows = "3", placeholder = "Владеть ..." })
                                                                @Html.ValidationMessageFor(model => model.Competencies[i].ToOwn)
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel box box-danger">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            #2 Структура и содержание учебной дисциплины
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    @for(int i = 0; i < @ViewBag.Semesters.Count; i++)
                                    {
                                        <p><label>Семестр @ViewBag.Semesters[i].Number</label></p>
                                        <div class="box-body">
                                            <div class="box-body">
                                                <table class="table table-bordered" id=@("table-"+i)>
                                                    <tr>
                                                        <th style="width: 10px">
                                                            Номер

                                                            раздела,

                                                            темы
                                                        </th>
                                                        <th>Наименование разделов дисциплины</th>
                                                        @foreach (var child in HttpContext.Current.GetOwinContext().Get<IAcademicPlanService>().GetPlanItemChildren(@ViewBag.Semesters[i]))
                                                        {
                                                            <th>@child.Type <br /> Часов: @child.Hours</th>
                                                        }
                                                    </tr>
                                                    <tr id="@("clonable-raw-"+i)" style="display: none">
                                                        <td style="display: none"></td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.Semesters[i].Number, new
                                                            {
                                                                @class = "form-control",
                                                                @placeholder = "...",
                                                                @onkeypress = "return isNumber(event)"
                                                            })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(m => m.Semesters[i].Name, new
                                                               {
                                                                   @class = "form-control",
                                                                   @placeholder = "Введите наименование ..."
                                                               })
                                                        </td>
                                                        @for (int j = 0; j < HttpContext.Current.GetOwinContext().Get<IAcademicPlanService>().GetPlanItemChildren(@ViewBag.Semesters[i]).Count; j++)
                                                        {
                                                            <td>
                                                                @Html.TextBoxFor(m => m.Semesters[i].TypesOfClasses[j], new
                                                                   {
                                                                       @class = "form-control",
                                                                       @placeholder = "...",
                                                                       @onkeypress = "return isNumber(event)"
                                                                   })
                                                            </td>
                                                        }
                                                    </tr>
                                                </table>
                                                <button id=@("input-"+i) class="btn btn-default btn-xs"
                                                       style="margin-top: -10px; margin-bottom: 15px;"
                                                        onclick="javascript:addRaw(@(i));return false;">
                                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить раздел
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </section>
        <input type="submit" class="btn btn-primary btn-sm" value="Создать документ" style="margin: 15px" />
    <!-- /.content -->
    }
</div>

<div id="previous-disciplines-popup" style="display:none; overflow-y: scroll;">
    <div style="overflow-y: scroll; height: 400px">
        @for (int i = 0; i < ViewBag.PreviousDisciplines.Count; i++)
        {
            <div class="checkbox">
                <label onclick="setPreviousDiscipline()">
                <input type="checkbox" id=@("next-" + i) class="checkbox previous-disciplines-checkbox"
                        name="@ViewBag.PreviousDisciplines[i]"/> @ViewBag.PreviousDisciplines[i]
                </label>
            </div>
        }
    </div>
</div>
<div id="next-disciplines-popup" style="display:none; overflow-y: scroll;">
    <div style="overflow-y: scroll; height: 400px">
        @for (int i = 0; i < ViewBag.NextDisciplines.Count; i++)
        {
            <div class="checkbox">
                <label onclick="setNextDiscipline()">
                <input type="checkbox" id=@("next-" + i) class="checkbox next-disciplines-checkbox"
                        name="@ViewBag.NextDisciplines[i]" /> @ViewBag.NextDisciplines[i]
                </label>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 46 || charCode == 47 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function addRaw(id) {
        var newRaw =  $('#clonable-raw-' + id).clone();
        newRaw.removeAttr('id');
        newRaw.attr('style', 'display: normal');
        $('#table-' + id).append(newRaw);
    }

    function setPreviousDiscipline() {
        $('#previous-disciplines').empty();
        $('.previous-disciplines-checkbox:checked').each(function () {
            $('#previous-disciplines').append($(this).attr('name') + "\n");
        });
    }
    function setNextDiscipline() {
        $('#next-disciplines').empty();
        $('.next-disciplines-checkbox:checked').each(function () {
            $('#next-disciplines').append($(this).attr('name') + "\n");
        });
    }
    $('#previous-disciplines').popup({
        content: $('#previous-disciplines-popup'),
        height: 400
    });
    $('#next-disciplines').popup({
        content: $('#next-disciplines-popup'),
        height: 400
    });
</script>