﻿
@{
    ViewBag.Title = "Компетенции";
}

<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active"><a href="/RpdGenerator">Курсы</a></li>
    <li class="active"><a href="@Html.Raw(Url.Action("Menu", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))">@ViewBag.Discipline</a></li>
    <li class="active">Компетенции</li>
</ol>
<section class="content-header">
    <h1>
        Курс: @ViewBag.Discipline
        <small>@ViewBag.StartYear г.</small>
    </h1>

</section>
<!-- Left menu -->
<section class="content">
<div class="row">
<div class="col-md-4">
    <div class="box box-zum">
        <div class="zum-heard">
            <h3 class="zum-header-list">Список компетенций</h3>
            <h5 class="zum-header-desc">В результате освоения дисциплины обучающийся должен овладеть следующими результатами обучения по дисциплине:</h5>
        </div>
        <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
                @for (int i = 0; i < @ViewBag.CompetenciesCodes.Count; i++)
                {
                    <li>
                        <a class="zum-active" href="javascript:void(0)" onclick="updateCompetency('@ViewBag.CompetenciesCodes[i]', '@ViewBag.CompetenciesDescriptions[i]')">@ViewBag.CompetenciesCodes[i]<br><span>@ViewBag.CompetenciesDescriptions[i]</span></a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- /.box -->
</div>
<!-- /.box-body -->
<!--ЗНАТЬ-->
<div class="col-md-8">
    <div class="box box-default" hidden="true">
        <div class="box-header with-border">
            <h3 id="competencyCode" class="box-title"></h3>
            <h5 id="competencyDescription"></h5>
            <div class="col-md-4 toknow">
                <!-- TO DO List -->

            </div>
            <!-- /.footer -->
            <div class="col-md-4 tocan">
                <!-- TO DO List -->

            </div>
            <!-- /.footer -->
            <div class="col-md-4 toown">
                <!-- TO DO List -->              

            </div>
            <!-- /.footer -->
        </div>
        <!-- /.box -->
    </div>
</div>
</div>
</section>

@Html.Partial("ModalPartialView")

<script type="text/javascript">
    var competencyCode = '';

    function update(type, competencyCode) {
        var htmlclass = type == 'Знать' ? 'toknow' : type == 'Уметь' ? 'tocan' : 'toown';
        $('.' + htmlclass).load('@Html.Raw(Url.Action("GetLearningOutcomes", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))&type=' + type + '&competencyCode=' + competencyCode);
    }

    function updateCompetency(competencyCode, competencyDescription) {
        this.competencyCode = competencyCode;
        $('#competencyCode').text(competencyCode);
        $('#competencyDescription').text(competencyDescription);
        update('Знать', competencyCode);
        update('Уметь', competencyCode);
        update('Владеть', competencyCode);
        $('.box').show();
    }

    function save() {
        var inputs = {};
        $('.modal-body input,.modal-body textarea').each(function() {
            inputs[$(this).attr('name')] = $(this).val();
        });
        if (inputs.Type == "")
            inputs.Type = type;
        $.ajax({
            url: '@Url.Action("SaveLearningOutcomes")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                plan: '@ViewBag.Plan',
                discipline: '@ViewBag.Discipline',
                competency: competencyCode,
                inputs: inputs }),
            success: function (result) {
                if (result.data == "success") {
                    $('#popup').modal("hide");
                    update(inputs.Type, competencyCode);
                }
                else
                    alert("Something went wrong...");
            },
            error: function (result) {
                alert("Something went wrong...");
            }
        });
    }
</script>

