﻿
@{
    ViewBag.Title = "Структура курса";
}

    <!-- Content Header-->
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
        <li class="active"><a href="/RpdGenerator">Курсы</a></li>
        <li class="active"><a href="@Html.Raw(Url.Action("Menu", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))">@ViewBag.Discipline</a></li>
        <li class="active">Структура курса</li>
    </ol>

    <section class="content-header">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-9">
                        <h1>
                            @ViewBag.Discipline
                            <small>@ViewBag.StartYear г.</small>
                        </h1>
                    </div>
                    <div class="col-md-3">
                        <div class="label">
                            <div class="label label-primary semestr pull-right ">
                                <i class="fa fa-graduation-cap"></i>
                                @(string.Join(", ", ViewBag.Semesters)) семестр
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content section-list">
        
    </section>


@Html.Partial("ModalPartialView")

<script type="text/javascript">
    var type = "";
    var sectionId = 0;
    var idToRemove = 0;

    function changeZUV(obj, disciplineLOId, sectionId) {
        if ($(obj).prop('checked')) {
            $.ajax({
                url: '@Url.Action("AddDisciplineLOToSection")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    disciplineLOId: disciplineLOId,
                    sectionId: sectionId
                }),
                success: function (result) {
                    if (result.data == "success") {
                    }
                    else
                        alert("Something went wrong...");
                },
                error: function (result) {
                    alert("Something went wrong...");
                }
            });
        }
        else {
            $.ajax({
                url: '@Url.Action("RemoveDisciplineLOFromSection")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    disciplineLOId: disciplineLOId,
                    sectionId: sectionId
                }),
                success: function (result) {
                    if (result.data == "success") {
                    }
                    else
                        alert("Something went wrong...");
                },
                error: function (result) {
                    alert("Something went wrong...");
                }
            });
        }
    }

    function dragAndDrop(){
        setTimeout(function () {
            var arr = [];
            for (var i = 0; i < $('.todo-list').children('li').length; ++i) {
                arr.push($('.todo-list').children('li')[i].id);
            }

            var inputs = {};
            $('.modal-body input').each(function () {
                inputs[$(this).attr('name')] = $(this).val();
            });
            $.ajax({
                url: '@Url.Action("ChangeOrder")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    order: arr
                }),
                success: function (result) {
                    if (result.data == "success") {
                        update();
                    }
                    else
                        alert("Something went wrong...");
                },
                error: function (result) {
                    alert("Something went wrong...");
                }
            });
        }, 500);
    }

    function callEditPopup(id, type) {
        $('#popup .modal-body').load('@Html.Raw(Url.Action("GetPlanItemCard", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline, @id = "js-id", @type = "js-type"}))'
            .replace("js-id", encodeURIComponent(id)).replace("js-type", encodeURIComponent(type)));
        $('#popup .modal-title').text(type);
        $('#popup').modal("show");
    }

    function remove() {
        $.ajax({
            url: '@Url.Action("RemovePlanItem")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                id: idToRemove
            }),
            success: function (result) {
                if (result.data == "success")
                    update();
                else
                    alert("Something went wrong...");
            },
            error: function (result) {
                alert("Something went wrong...");
            }
        });
    }

    function callRemovePopup(id) {
        idToRemove = id;
        $('#remove-popup .modal-title').text("Удаление занятия");
        $('#remove-popup .modal-body').text("Вы действительно хотите удалить это занятие?");
        $('#remove-popup').modal("show");
    }

    function setSection(id){
        sectionId = id;
    }

    function saveSection() {
        var inputs = {};
        $('.modal-body input').each(function () {
            inputs[$(this).attr('name')] = $(this).val();
        });
        var semesterNumber = $('#select-popup').val();
        $.ajax({
            url: '@Url.Action("SaveSection")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                plan: '@ViewBag.Plan',
                discipline: '@ViewBag.Discipline',
                inputs: inputs,
                semesterNumber: semesterNumber
            }),
            success: function (result) {
                if (result.data == "success") {
                    $('#section-popup').modal("hide");
                    update();
                }
                else
                    alert("Something went wrong...");
            },
            error: function (result) {
                alert("Something went wrong...");
            }
        });
    }

    function getSemesterHours(obj) {
        var semesterNumber = $(obj).val();
        $.ajax({
            url: '@Url.Action("GetSemesterHours")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                plan: '@ViewBag.Plan',
                discipline: '@ViewBag.Discipline',
                semesterNumber: semesterNumber
            }),
            success: function (result) {
                if (result.data == "success") {
                    $('#section-lecture').attr('placeholder', 'Осталось: ' + result.remainingHours['Лекции'] + ' ч.');
                    $('#section-practice').attr('placeholder', 'Осталось: ' + result.remainingHours['Практики'] + ' ч.');
                    $('#section-srs').attr('placeholder', 'Осталось: ' + result.remainingHours['СРС'] + ' ч.');
                }
                else
                    alert("Something went wrong...");
            },
            error: function (result) {
                alert("Something went wrong...");
            }
        });
    }

    function callAddSectionPopup() {
        $('#section-popup .modal-body').load('@Html.Raw(Url.Action("GetSectionCard", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))');
        $('#section-popup .modal-title').text('Добавление нового раздела');
        $('#section-popup').modal("show");
    }

    function setSelectedType(type) {
        $('#popup .modal-body').load('@Html.Raw(Url.Action("GetPlanItemCard", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline, @type = "js-type"}))'
            .replace("js-type", encodeURIComponent(type)));
        $('#popup .modal-title').text(type);
        $('#popup').modal("show");
        this.type = type;
    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 46 || charCode == 47 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function save() {
        var inputs = {};
        $('.modal-body input,.modal-body textarea').each(function() {
            inputs[$(this).attr('name')] = $(this).val();
        });
        if (inputs["Type"] != "") {
            type = inputs["Type"];
        }
        var literature = [];
        var sosel = [];
        if (type == "Практика" || type == "СРС") {
            sosel = $('.modal-body .select2[name="Literature"]').map(function () {
                return $(this).val();
            }).get();
            for (var i = 0; i < sosel.length; i++) {
                sosel[i] = sosel[i].replace(/\s*/g, '');
            }
            literature = $('.modal-body .hidden-options').filter(function () {
                return $.inArray($(this).text().replace(/\s*/g, ''), sosel) != -1;
            }).map(function () {
                return $(this).attr("id");
            }).get();
        }
        var control = "";
        if (type == "СРС")
            control = $('.modal-body .select2[name="Control"]').first().val().toString();
        if (inputs["Hours"] == "") {
            if ($('#error-hours').length == 0)
                $('.modal-body').append('<div class="col-md-4"></div>' +
                    '<div class="col-md-8" id="error-hours" style="color:#bb0000"><ul><li>Введите часы</li></ul></div>');
        }
        else {
            $.ajax({
                url: '@Url.Action("SavePlanItem")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    type: this.type,
                    sectionId: sectionId,
                    inputs: inputs,
                    literatureIds: literature,
                    control: control
                }),
                success: function (result) {
                    if (result.data == "success") {
                        $('#popup').modal("hide");
                        update();
                    }
                    else
                        alert("Something went wrong...");
                },
                error: function (result) {
                    alert("Something went wrong...");
                }
            });
        }
    }

    function update() {
        $.ajax({
            url: '@Html.Raw(Url.Action("GetPlanItems", "RpdGenerator", new { plan = ViewBag.Plan, discipline = ViewBag.Discipline }))',
            success: function (result) {
                try {
                    $('.section-list').html(result);
                }
                catch(err){
                    var checker = new checkLength();
                    checker.check();
                    $(window).resize(function () {
                        checker.check()
                    });
                }
            }
        });
    }

    function checkLength() {
        this.showing = new Array();
    }

    checkLength.prototype.check = function () {
        var that = this;
        $('.article').each(function (index) {
            var article = $(this);
            var theP = article.find('p');
            var theMore = article.find('.more');
            if (theP.width() > article.width()) {
                theMore.show();
                that.showing[index] = true;
            } else {
                if (!article.hasClass('active')) {
                    theMore.hide();
                    that.showing[index] = false;
                } else {
                    that.showing[index] = false;
                }
            }
            //alert("текст: " + theP.width() + "\nблок: " + article.width());
            theMore.text(that.showing[index] ? "Показать текст полностью" : "Свернуть текст");
        });
    };

    $(function () {
        update();
    });

    function more(obj) {
        $(obj).closest('.article').toggleClass('active');
        var checker = new checkLength();
        checker.check();
    }
</script>

