﻿@{
    ViewBag.Title = "Итог";
}

<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active"><a href="/RpdGenerator">Курсы</a></li>
    <li class="active"><a href="@Html.Raw(Url.Action("Menu", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))">@ViewBag.Discipline</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<section class="content">
    <div class="row">
        <div class="col-md-11">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        @using (Html.BeginForm("DownloadDocument", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }, FormMethod.Post))
                        {
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="Скачать" />
                        </div>
                        }
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</section>