﻿@using EducationalProgramGenerator.BLL.DTO
@model List<LiteratureDTO>

@{ 
    int basic = 0;
    int additional = 0;
    int er = 0;
}
<div class="row">
    <div class="col-md-6">
        <h3 class="box-title">Основная литература</h3>
    </div>
</div>
<div class="literature-section">
    <ul class="literature-list">
        @for (int i = 0; i < Model.Count; i++)
        {
            if (Model[i].Section == "Основная литература")
            {
                <li class="box box-default @(Model[i] is BookDTO ? "border-book" : (Model[i] is ElectronicResourceDTO ? "border-electronic-resource" : "border-other-literature")) collapsed-box">
                    <div class="box-header with-border">
                        <div class="number">
                            @(basic += 1)
                        </div>
                        <div class="text">
                            @if (Model[i] is BookDTO)
                    {
                        var book = Model[i] as BookDTO;
                        string str = book.Author + ", " + book.Title + ": " + book.TitleInfo + " / " + book.Responsible + ".- " +
                            book.Reissue + ".-" + book.City + ": " + book.PublishingHouse + ", " + book.Year + ".- " + book.Size + ".";
                                @:@(str)
                    }
                            else if (Model[i] is ElectronicResourceDTO)
                            {
                                var electronicResource = Model[i] as ElectronicResourceDTO;
                                string str = electronicResource.Title + " [Электронный ресурс] : " + electronicResource.TitleInfo +
                                    ". - Режим доступа: " + electronicResource.ModeOfAccess + " (дата обращения: " + electronicResource.CirculationDate + ").";
                                @:@(str)
                    }
                    else if (Model[i] is OtherLiteratureDTO)
                    {
                        var otherLiterature = Model[i] as OtherLiteratureDTO;
                        string str = otherLiterature.Description;
                                @:@(str)
                    }
                        </div>
                        <div class="box-tools tools">
                            <i class="fa fa-edit btn-box-tool" onclick="setSelectedSection('Основная литература'); callEditPopup(@(Model[i].Id));"></i>
                            <i class="fa fa-trash-o btn-box-tool" onclick="callRemovePopup(@(Model[i].Id));"></i>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
    <button class="literature-button" data-toggle="modal" data-target="#add-popup" onclick="setSelectedSection('Основная литература');">
        <i class="fa fa-plus"></i>
    </button>
</div>

<div class="row">
    <div class="col-md-6">
        <h3 class="box-title">Дополнительная литература</h3>
    </div>
</div>
<div class="literature-section">
    <ul class="literature-list">
        @for (int i = 0; i < Model.Count; i++)
        {
            if (Model[i].Section == "Дополнительная литература")
            {
                <li class="box box-default @(Model[i] is BookDTO ? "border-book" : (Model[i] is ElectronicResourceDTO ? "border-electronic-resource" : "border-other-literature")) collapsed-box">
                    <div class="box-header with-border">
                        <div class="number">
                            @(additional += 1)
                        </div>
                        <div class="text">
                            @if (Model[i] is BookDTO)
                    {
                        var book = Model[i] as BookDTO;
                        string str = book.Author + ", " + book.Title + ": " + book.TitleInfo + " / " + book.Responsible + ".- " +
                            book.Reissue + ".-" + book.City + ": " + book.PublishingHouse + ", " + book.Year + ".- " + book.Size + ".";
                                @:@(str)
                    }
                            else if (Model[i] is ElectronicResourceDTO)
                            {
                                var electronicResource = Model[i] as ElectronicResourceDTO;
                                string str = electronicResource.Title + " [Электронный ресурс] " + electronicResource.TitleInfo +
                                    " - Режим доступа: " + electronicResource.ModeOfAccess + " (дата обращения: " + electronicResource.CirculationDate + ").";
                                @:@(str)
                    }
                    else if (Model[i] is OtherLiteratureDTO)
                    {
                        var otherLiterature = Model[i] as OtherLiteratureDTO;
                        string str = otherLiterature.Description;
                                @:@(str)
                    }
                        </div>
                        <div class="box-tools tools">
                            <i class="fa fa-edit btn-box-tool" onclick="setSelectedSection('Дополнительная литература'); callEditPopup(@(Model[i].Id));"></i>
                            <i class="fa fa-trash-o btn-box-tool" onclick="callRemovePopup(@(Model[i].Id));"></i>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
    <button class="literature-button" data-toggle="modal" data-target="#add-popup" onclick="setSelectedSection('Дополнительная литература');">
        <i class="fa fa-plus"></i>
    </button>
</div>

<div class="row">
    <div class="col-md-6">
        <h3 class="box-title">Электронные ресурсы сети Интернет</h3>
    </div>
</div>
<div class="literature-section">
    <ul class="literature-list">
        @for (int i = 0; i < Model.Count; i++)
        {
            if (Model[i].Section == "Электронные ресурсы сети Интернет")
            {
                <li class="box box-default @(Model[i] is BookDTO ? "border-book" : (Model[i] is ElectronicResourceDTO ? "border-electronic-resource" : "border-other-literature")) collapsed-box">
                    <div class="box-header with-border">
                        <div class="number">
                            @(er += 1)
                        </div>
                        <div class="text">
                            @if (Model[i] is BookDTO)
        {
            var book = Model[i] as BookDTO;
            string str = book.Author + ", " + book.Title + ": " + book.TitleInfo + " / " + book.Responsible + ".- " +
                book.Reissue + ".-" + book.City + ": " + book.PublishingHouse + ", " + book.Year + ".- " + book.Size + ".";
                                @:@(str)
                    }
                            else if (Model[i] is ElectronicResourceDTO)
                            {
                                var electronicResource = Model[i] as ElectronicResourceDTO;
                                string str = electronicResource.Title + " [Электронный ресурс] " + electronicResource.TitleInfo +
                                    " - Режим доступа: " + electronicResource.ModeOfAccess + " (дата обращения: " + electronicResource.CirculationDate + ").";
                                @:@(str)
                    }
                    else if (Model[i] is OtherLiteratureDTO)
                    {
                        var otherLiterature = Model[i] as OtherLiteratureDTO;
                        string str = otherLiterature.Description;
                                @:@(str)
                    }
                        </div>
                        <div class="box-tools tools">
                            <i class="fa fa-edit btn-box-tool" onclick="setSelectedSection('Электронные ресурсы сети Интернет'); callEditPopup(@(Model[i].Id));"></i>
                            <i class="fa fa-trash-o btn-box-tool" onclick="callRemovePopup(@(Model[i].Id));"></i>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
    <button class="literature-button" data-toggle="modal" data-target="#add-popup" onclick="setSelectedSection('Электронные ресурсы сети Интернет');">
        <i class="fa fa-plus"></i>
    </button>
</div>