﻿@model dynamic

<div class="box-header">
    <i class="fa fa-book"></i>
    <h4 class="zum-title">@Model.Type</h4>

</div>

<div class="box box-primary ">
    <div class="box-footer no-padding">
        <div class="zum-body">
            <ul class="zum-list">
                @foreach (var item in Model.Items)
                {
                    <li>
                        <span>@item["description"]</span>
                        <!-- Emphasis label -->
                        <!-- General tools such as edit or delete-->
                        <div class="tools">
                            <i class="fa fa-edit" data-toggle="modal" data-target="#popup" onclick="changeLearningOutcomes('@item["id"]', '@Model.Type');"></i>
                            <i class="fa fa-trash-o" data-toggle="modal" data-target="#remove-popup" onclick="setRemoveParams('@item["id"]', '@Model.Type');"></i>
                        </div>
                    </li>

                    <script type="text/javascript">
                        var id = 0;
                        var type = '';

                        function setRemoveParams(id, type) {
                            this.id = id;
                            this.type = type;
                        }

                        function remove() {
                            $.ajax({
                                url: '@Url.Action("RemoveLearningOutcomes")?id='+id,
                                type: "POST",
                                dataType: "json",
                                contentType: "application/json; charset=utf-8",
                                success: function (result) {
                                    if (result.data == "success")
                                        update(type, competencyCode);
                                    else
                                        alert("Something went wrong...");
                                },
                                error: function (result) {
                                    alert("Something went wrong...");
                                }
                            });
                        }
                    </script>
                }
            </ul>
        </div>
        <div class="box-footer clearfix no-border">
            <button type="button" data-toggle="modal" data-target="#popup" onclick="showPopup('@Model.Type');" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Добавить</button>
        </div>

    </div>
</div>

<script type="text/javascript">
    var type = '';
    function showPopup(type) {
        $('#popup .modal-body').load('@Html.Raw(Url.Action("GetLearningOutcomesCard", "RpdGenerator"))');
        $('#popup .modal-title').text(type);
        $('#popup').modal("show");
        this.type = type;
    }

    function changeLearningOutcomes(id, type) {
            $('#popup .modal-body').load('@Html.Raw(Url.Action("GetLearningOutcomesCard", "RpdGenerator"))?id=' + id);
            $('#popup .modal-title').text(type);
            $('#popup').modal("show");
    }
</script>
