﻿@*@model List<Dictionary<string, string>>*@
@using EducationalProgramGenerator.BLL.DTO
@Scripts.Render("~/bundles/app")
@model EducationalProgramGenerator.BLL.DTO.PlanItemDTO
@{ 
    int sectionNumber = 0;
    double hoursPercents = 0;
}

@* Часы по дисциплине *@
<div class="row">
    <div class="col-md-8">
        <div class="box box-solid">
            <div class="box-body">
                <div class="col-md-12">
                    @* Лекции *@
                    <div class="col-md-4">
                        <div href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Лекции курса<br>
                                @{
                                    var lecturePlanHours = Model.Children.SelectMany(sem => sem.Children).Where(x => x.Type == "Лекции")
                                                                    .Select(x => x.Hours)
                                                                    .Sum();
                                    var lectureSummedHours = Model.Children.SelectMany(sem => sem.Children).Where(x => x.Type == "Лекции")
                                                                    .SelectMany(x => x.Children)
                                                                    .Select(x => x.Hours)
                                                                    .Sum();
                                    var practicePlanHours = Model.Children.SelectMany(sem => sem.Children).Where(x => x.Type == "Практики")
                                                                    .Select(x => x.Hours)
                                                                    .Sum();
                                    var practiceSummedHours = Model.Children.SelectMany(sem => sem.Children).Where(x => x.Type == "Практики")
                                                                    .SelectMany(x => x.Children)
                                                                    .Select(x => x.Hours)
                                                                    .Sum();
                                    var SRSPlanHours = Model.Children.SelectMany(sem => sem.Children).Where(x => x.Type == "СРС")
                                                                    .Select(x => x.Hours)
                                                                    .Sum();
                                    var SRSSummedHours = Model.Children.SelectMany(sem => sem.Children).Where(x => x.Type == "СРС")
                                                                    .SelectMany(x => x.Children)
                                                                    .Select(x => x.Hours)
                                                                    .Sum();
                                }
                            </h4><span class="label @((lectureSummedHours > lecturePlanHours) ? "label-warning" : "label-primary") pull-right">
                                @(lectureSummedHours)/@(lecturePlanHours) ч.
                            </span>
                            <br />
                            <div class="progress progress-xxs">
                                <div class="progress-bar @((lectureSummedHours > lecturePlanHours) ? "progress-bar-warning" : "progress-bar-primary")"
                                     style="width: @(100 * lecturePlanHours != 0
                                                                ?
                                                                (100 * lectureSummedHours / lecturePlanHours) : 100)%"></div>
                            </div>
                        </div>
                    </div>
                    @* Практики *@
                    <div class="col-md-4">
                        <div href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Практики курса<br>
                            </h4><span class="label @((practiceSummedHours > practicePlanHours) ? "label-warning" : "label-success") pull-right">
                                @(practiceSummedHours)/@(practicePlanHours) ч.
                            </span>
                            <br />
                            <div class="progress progress-xxs">
                                <div class="progress-bar @((practiceSummedHours > practicePlanHours) ? "progress-bar-warning" : "progress-bar-success")"
                                     style="width: @(100 * practicePlanHours != 0
                                                                ?
                                                                (100 * practiceSummedHours / practicePlanHours)
                                                                : 100)%"></div>
                            </div>
                        </div>
                    </div>
                    @* СРС *@
                    <div class="col-md-4">
                        <div href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                СРС курса<br>
                            </h4><span class="label @((SRSSummedHours > SRSPlanHours) ? "label-warning" : "label-yellow") pull-right">
                                @(SRSSummedHours)/@(SRSPlanHours) ч.
                            </span>
                            <br />
                            <div class="progress progress-xxs">
                                <div class="progress-bar @((SRSSummedHours > SRSPlanHours) ? "progress-bar-warning" : "progress-bar-yellow")"
                                     style="width: @(100 * SRSPlanHours != 0
                                                                ?
                                                                (100 * SRSSummedHours / SRSPlanHours)
                                                                : 100)%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var sem in Model.Children)
{
    foreach (var section in sem.Children[0].Children)
    {
        <div class="row">
            <div class="col-md-8">
                <div class="box box-solid">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="box-title">Раздел @(++sectionNumber). @(section.Knowledges[0].Name)</h3>
                            </div>
                            <div class="col-md-3">
                                @if (Model.Children.Count > 1)
                                {
                                <div class="label">
                                    <div class="label label-primary semestr pull-right "><i class="fa fa-graduation-cap"></i>@sem.OrderNumber семестр</div>
                                </div>
                                }
                                
                            </div>
                            
                        </div>
                        <div class="box-header with-border">

                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div href="javascript:void(0)">
                                        <h4 class="control-sidebar-subheading">
                                            Лекции раздела<br>
                                            @{ 
                                                lectureSummedHours = sem.Children.Where(x => x.Type == "Лекции")
                                                    .Select(x => x.Children.Where(k => k.Knowledges[0].Name == section.Knowledges[0].Name))
                                                    .FirstOrDefault()
                                                    .SelectMany(x => x.Children)
                                                    .Select(x => x.Hours)
                                                    .Sum();
                                                lecturePlanHours = sem.Children.Where(x => x.Type == "Лекции")
                                                    .Select(x => x.Children.Where(k => k.Knowledges[0].Name == section.Knowledges[0].Name))
                                                    .FirstOrDefault()
                                                    .Select(x => x.Hours)
                                                    .FirstOrDefault();
                                                practiceSummedHours = sem.Children.Where(x => x.Type == "Практики")
                                                    .Select(x => x.Children.Where(k => k.Knowledges[0].Name == section.Knowledges[0].Name))
                                                    .FirstOrDefault()
                                                    .SelectMany(x => x.Children)
                                                    .Select(x => x.Hours)
                                                    .Sum();
                                                practicePlanHours = sem.Children.Where(x => x.Type == "Практики")
                                                    .Select(x => x.Children.Where(k => k.Knowledges[0].Name == section.Knowledges[0].Name))
                                                    .FirstOrDefault()
                                                    .Select(x => x.Hours)
                                                    .FirstOrDefault();
                                                SRSSummedHours = sem.Children.Where(x => x.Type == "СРС")
                                                    .Select(x => x.Children.Where(k => k.Knowledges[0].Name == section.Knowledges[0].Name))
                                                    .FirstOrDefault()
                                                    .SelectMany(x => x.Children)
                                                    .Select(x => x.Hours)
                                                    .Sum();
                                                SRSPlanHours = sem.Children.Where(x => x.Type == "СРС")
                                                    .Select(x => x.Children.Where(k => k.Knowledges[0].Name == section.Knowledges[0].Name))
                                                    .FirstOrDefault()
                                                    .Select(x => x.Hours)
                                                    .FirstOrDefault();
                                            }
                                        </h4><span class="label @((lectureSummedHours > lecturePlanHours) ? "label-warning" : "label-primary") pull-right">
                                            @(lectureSummedHours)/@(lecturePlanHours) ч.
                                        </span>
                                        <br />
                                        <div class="progress progress-xxs">
                                            <div class="progress-bar @((lectureSummedHours > lecturePlanHours) ? "progress-bar-warning" : "progress-bar-primary")"
                                                 style="width: @(100 * lecturePlanHours != 0
                                                    ?
                                                    (100 * lectureSummedHours / lecturePlanHours)
                                                    : 100)%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div href="javascript:void(0)">
                                        <h4 class="control-sidebar-subheading">
                                            Практики раздела<br>
                                        </h4><span class="label @((practiceSummedHours > practicePlanHours) ? "label-warning" : "label-success") pull-right">
                                            @(practiceSummedHours)/@(practicePlanHours) ч.
                                    </span>
                                    <br />
                                    <div class="progress progress-xxs">
                                        <div class="progress-bar @((practiceSummedHours > practicePlanHours) ? "progress-bar-warning" : "progress-bar-success")"
                                             style="width: @(practicePlanHours != 0
                                                    ?
                                                    (100 * practiceSummedHours / practicePlanHours)
                                                    : 100)%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div href="javascript:void(0)">
                                    <h4 class="control-sidebar-subheading">
                                        СРС раздела<br>
                                    </h4><span class="label @((SRSSummedHours > SRSPlanHours) ? "label-warning" : "label-yellow") pull-right">
                                        @(SRSSummedHours)/@(SRSPlanHours) ч.
                                </span>
                                <br />
                                <div class="progress progress-xxs">
                                    <div class="progress-bar @((SRSSummedHours > SRSPlanHours) ? "progress-bar-warning" : "progress-bar-yellow")"
                                         style="width: @(100 * SRSPlanHours != 0
                                                    ?
                                                    (100 * SRSSummedHours / SRSPlanHours)
                                                    : 100)%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                        <ul class="todo-list">
                            @foreach(var item in sem.Children.SelectMany(x => x.Children)
                        .Where(x => x.Knowledges[0].Name == section.Knowledges[0].Name)
                        .SelectMany(x => x.Children)
                        .OrderBy(x => x.OrderNumber))
                            {
                                <li class="box box-default @(item.Type == "Лекция" ? "lection"
                                            : (item.Type == "Практика" ? "practice"
                                            : "sro")) collapsed-box" id="@item.Id" draggable="true" ondragend="alert('ses');">
                                    <div class="box-header with-border">
                                        <div class="col-md-10">
                                            <div class="dashboard-widget">
                                                <div class="dashboard-widget-draggableHandle handle" onmouseup="dragAndDrop();"></div>
                                            </div>
                                            <span class="text" contenteditable="true">@item.Knowledges[0].Name</span>
                                            <br>
                                            <span class="label @(item.Type == "Лекция" ? "label label-lection label-primary"
                                                : (item.Type == "Практика" ? "label label-practice label-green"
                                                : "label label-yellow"))">@item.Type</span>
                                            <div class="@(item.Type == "Лекция" ? "label-lection-hrs"
                                            : (item.Type == "Практика" ? "label-practice-hrs"
                                            : "label-sro-hrs"))">
                                                <div class="label @(item.Type == "Лекция" ? "label label-primary"
                                            : (item.Type == "Практика" ? "label label-green"
                                            : "label label-yellow"))"><i class="fa fa-clock-o"></i>@item.Hours ч.</div>
                                            </div>
                                        </div>
                                        <div class="box-tools tools col-md-2">
                                            <i class="fa fa-edit btn-box-tool" onclick="callEditPopup(@item.Id, '@item.Type');"></i>
                                            <i class="fa fa-trash-o btn-box-tool" onclick="callRemovePopup(@item.Id);"></i>
                                            <button type="button" class="btn btn-box-tool btn-chevron" data-widget="collapse"><i class="fa fa-chevron-down"></i> </button>
                                        </div>
                                    </div>
                                    <div class="box-body box-default" contenteditable="true">
                                        @item.Knowledges[0].Description
                                        <br>
                                    </div>
                                </li>
                            }
                        </ul>

                        <div class="box-footer clearfix no-border">
                            <button type="button" data-toggle="modal" data-target="#popup"
                                    onclick="setSelectedType('СРС');
                                    setSection(@(sem.Children.Where(x => x.Type == "СРС")
                                                .Select(x => x.Children.Where(k => k.Knowledges[0].Name == section.Knowledges[0].Name))
                                                .FirstOrDefault()
                                                .Select(x => x.Id)
                                                .FirstOrDefault()));"
                                    class="btn btn-default pull-right"><i class="fa fa-plus fa-sro"></i> Добавить СРС </button>
                            <button type="button" data-toggle="modal" data-target="#popup"
                                    onclick="setSelectedType('Практика');
                                    setSection(@(sem.Children.Where(x => x.Type == "Практики")
                                                .Select(x => x.Children.Where(k => k.Knowledges[0].Name == section.Knowledges[0].Name))
                                                .FirstOrDefault()
                                                .Select(x => x.Id)
                                                .FirstOrDefault()));"
                                    class="btn btn-default pull-right">
                                <i class="fa fa-plus fa-pra"></i> Добавить практику
                            </button>
                            <button type="button" data-toggle="modal" data-target="#popup"
                                    onclick="setSelectedType('Лекция');
                                    setSection(@(sem.Children.Where(x => x.Type == "Лекции")
                                                .Select(x => x.Children.Where(k => k.Knowledges[0].Name == section.Knowledges[0].Name))
                                                .FirstOrDefault()
                                                .Select(x => x.Id)
                                                .FirstOrDefault()));"
                                    class="btn btn-default pull-right">
                                <i class="fa fa-plus fa-lec"></i> Добавить лекцию
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="box box-default">
                    <div class="box-header with-border">
                        <h4 class="box-title">Компетенции @(section.Knowledges[0].Name)</h4>
                    </div>
                    @foreach (var c in Model.Knowledges[0].Results.Where(x => x.GetType() == typeof(CompetencyDTO)).Cast<CompetencyDTO>().ToList())
                    {
                        <div class="box box-default collapsed-box">
                            <div class="box-header with-border article">
                                <h3 class="box-title">@c.Code</h3>
                                <div class="description-block description"><p>@c.Description</p></div>
                                <div><a href="#more" class="more" onclick="more(this);"></a></div>
                                <div class="box-tools tools pull-right">
                                    <button type="button" class="btn btn-box-tool-checkbox" data-widget="collapse">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="box-header-zum">
                                    <h4>Знать:</h4>
                                </div>
                                <div class="form-group">
                                    @foreach (var item in Model.Knowledges[0].Results.Where(x => x.GetType() == typeof(DisciplineLODTO))
                            .Cast<DisciplineLODTO>().Where(x => x.Competency.Code == c.Code && x.Type == "Знать").ToList())
                                    {
                                        <label>
                                            <input type="checkbox" class="minimal" onclick="changeZUV(this, @item.Id, @(section.Id));"
                                                   @(section.Knowledges[0].Results.Contains(item) ? "checked" : "")>
                                            <span class="text-zum">@item.Description</span>
                                        </label>
                                        <br />
                                    }
                                </div>
                                <div class="box-header-zum">
                                    <h4>Уметь:</h4>
                                </div>
                                <div class="form-group">
                                    @foreach (var item in Model.Knowledges[0].Results.Where(x => x.GetType() == typeof(DisciplineLODTO))
                                        .Cast<DisciplineLODTO>().Where(x => x.Competency.Code == c.Code && x.Type == "Уметь").ToList())
                                    {
                                        <label>
                                            <input type="checkbox" class="minimal" onclick="changeZUV(this, @item.Id, @(section.Id));"
                                                   @(section.Knowledges[0].Results.Contains(item) ? "checked" : "")>
                                            <span class="text-zum">@item.Description</span>
                                        </label>
                                        <br/>
                                    }
                                </div>
                                <div class="box-header-zum">
                                    <h4>Владеть:</h4>
                                </div>
                                <div class="form-group">
                                    @foreach (var item in Model.Knowledges[0].Results.Where(x => x.GetType() == typeof(DisciplineLODTO))
                            .Cast<DisciplineLODTO>().Where(x => x.Competency.Code == c.Code && x.Type == "Владеть").ToList())
                                    {
                                        <label>
                                            <input type="checkbox" class="minimal" onclick="changeZUV(this, @item.Id, @(section.Id));"
                                                   @(section.Knowledges[0].Results.Contains(item) ? "checked" : "")>
                                            <span class="text-zum">@item.Description</span>
                                        </label>
                                        <br />
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}
<div class="row">
    <div class="col-md-8">
        <button type="button" class="btn btn-block btn-white" onclick="callAddSectionPopup();">Добавить новый раздел</button>
    </div>
</div>