﻿@using EducationalProgramGenerator.BLL.DTO;
@{
    ViewBag.Title = "Мои РПД";
}
@Styles.Render("~/Content/handsontable")
@Scripts.Render("~/bundles/handsontable")
<style type="text/css">
    .handsontable .currentRow, .handsontable .current {
        background-color: #c2cff3;

    }
</style>
<section class="content-header">
    <h1>
        Мои РПД
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <input type="button" onclick="redirectToDiscipline();" class="btn btn-default" style="margin-bottom: 5px;" value="Редактировать">
    <div id="hot-table" class="hot handsontable htColumnHeaders" style="overflow:auto; width:100%; height:100%;"></div>
</section>

<script type="text/javascript">
    var plan = null;
    var discipline = null;

    function redirectToDiscipline() {
        if (discipline !== null) {
            window.location.href = '@Html.Raw(Url.Action("Menu", "RpdGenerator", new { @plan = "js-plan", @discipline = "js-discipline"}))'
                .replace("js-plan", encodeURIComponent(plan)).replace("js-discipline", encodeURIComponent(discipline));
        }
    }

    $(function () {

        var ses = @Html.Raw(Json.Encode(
                 ((IEnumerable<PlanItemDTO>)ViewBag.RPDs).Select(x => new
                 {
                    name = x.Knowledges[0].Name,
                    authors = string.Join(", ", (x.Knowledges[0] as DisciplineDTO).Authors.Select(author =>
                        author.LastName + " " +
                        author.FirstName[0] + "." +
                        (author.SecondName != null ? (" " + author.SecondName[0] + ".") : ""))),
                    direction = (x.Parent as AcademicPlanItemDTO).Direction,
                    qualification = (x.Parent as AcademicPlanItemDTO).Qualification,
                    modeOfStudy = (x.Parent as AcademicPlanItemDTO).ModeOfStudy,
                    startYear = (x.Parent as AcademicPlanItemDTO).StartYear,
                    academicDepartment = (x.Parent as AcademicPlanItemDTO).StructureDepartment.Name
                 }
                 )));
        var data = ses,
            container1 = document.getElementById('hot-table'),
            hot;

        hot = new Handsontable(container1, {
            data: data,
            rowHeaders: true,
            colHeaders: ['Дисциплина', 'Направление', 'Квалификация', 'Форма обучения', 'Год', 'Кафедра', 'Авторы'],
            columns: [
                { data: 'name', editor: false },
                { data: 'direction', editor: false },
                { data: 'qualification', editor: false },
                { data: 'modeOfStudy', editor: false },
                { data: 'startYear', editor: false },
                { data: 'academicDepartment', editor: false },
                { data: 'authors', editor: false }
            ],
            afterSelection: function (r, c) {
                var data = this.getDataAtRow(r);
                plan = data[1] + " " + data[4] + " (" + data[2] + ", " + data[3] + ")";
                discipline = data[0];
            },
            beforeKeyDown: function (event) {
                if (e.keyCode === 46) {
                    Handsontable.Dom.enableImmediatePropagation(event);
                    event.stopImmediatePropagation();
                }
            },
            multiSelect: false,
            outsideClickDeselects: false,
            //disableVisualSelection: ['current', 'area'],
            currentRowClassName: 'currentRow',
            stretchH: "all",
            //preventOverflow: 'horizontal',
            //autoWrapRow: true,
            colWidths: [230, 230, 130, 130, 70, 270, 150],
            contextMenu: false,
            fillHandle: false
        });
    });

</script>