﻿@model dynamic

@{
    ViewBag.Title = "Генератор РПД";
}

<div class="content-header"><h1>Генератор РПД</h1></div>

<div class="content">
    <div class="box box-solid">
        <div class="box-body">

            @using (Html.BeginForm("Index", "RpdGenerator", FormMethod.Post))
            {
                @Html.Label("Учебный план")
                @Html.DropDownList("plan", new SelectList(@ViewBag.Plans), "", new { @class = "form-control", @style = "margin-bottom: 20px" })
                @Html.Label("Дисциплина")
                @Html.DropDownList("discipline", new SelectList(new List<string>()), new { @class = "form-control", @style = "margin-bottom: 20px" })
                <input type="submit" class="btn btn-primary btn-sm" value="Далее" disabled="true" />
            }
        </div>
    </div>
</div>

            <script type="text/javascript">
    $('#plan').change(function () {
        var plan = $('#plan').val();
        console.log(plan);
        if (plan === '')
            $('input').prop("disabled", true);
        else
            $('input').prop("disabled", false);
        plan = encodeURIComponent(plan);
        $('#discipline').load('@Url.Action("GetDisciplines", "RpdGenerator")?plan=' + plan);
    });
            </script>
