﻿
@{
    ViewBag.Title = "Меню РПД";
}

<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
    <li class="active"><a href="/RpdGenerator">Курсы</a></li>
    <li class="active">@ViewBag.Discipline</li>
</ol>
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">

                <div class="inner">
                    <h3>О курсе</h3>
                    <br>
                    <!--
                                 <p>Автор курса <br>
                                 Цели курса <br>
                                 Задачи курса <br>
                                 Место дисциплины <br>

                                 </p>

                    -->
                </div>

                <div class="icon">
                    <i class="fa fa-info-circle"></i>
                </div>
                <a href="@Html.Raw(Url.Action("DisciplineInformation", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))" class="small-box-footer">
                    Перейти <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>

        </div>
        <!--        -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>Литература</h3>

                    <br>
                    <!--
                                  <p>
                                      Добавление <br>
                                      Редактирование <br>
                                      Дополнительная <br>
                                  </p>
                    -->

                </div>
                <div class="icon">
                    <i class="fa fa-book"></i>
                </div>
                <a href="@Html.Raw(Url.Action("EditLiterature", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))" class="small-box-footer">
                    Перейти <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!--        -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">

                <div class="inner">
                    <h3>Компетенции</h3>
                    <br>


                </div>
                <div class="icon">
                    <i class="fa fa-list-alt"></i>
                </div>
                <a href="@Html.Raw(Url.Action("EditCompetencies", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))" class="small-box-footer">
                    Перейти <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!--         -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>Структура курса</h3>
                    <br>


                </div>
                <div class="icon">
                    <i class="fa fa-magic"></i>
                </div>
                <a href="@Html.Raw(Url.Action("EditStructure", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))" class="small-box-footer">
                    Перейти <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
       
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>Копирование дисциплины</h3>
                    <br>
                </div>
                <div class="icon">
                    <i class="fa fa-magic"></i>
                </div>
                <a href="@Html.Raw(Url.Action("CopyRPD", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))" class="small-box-footer">
                    Перейти <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>Скачать документ</h3>
                    <br>
                </div>
                <div class="icon">
                    <i class="fa fa-magic"></i>
                </div>
                <a href="@Html.Raw(Url.Action("GenerateRPD", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))" class="small-box-footer">
                    Перейти <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>

