﻿@using EducationalProgramGenerator.WEB.HtmlHelper;
@using EducationalProgramGenerator.BLL.DTO;

<div id="add-popup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Выберите тип ресурса</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <select class="form-control" id="select-add" onchange="changeSelectedValue(this);">
                        <option value="1">Книга</option>
                        <option value="2">Электронный ресурс</option>
                        <option value="3">Другое</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="callAddPopup($('#select-add').val());" class="literature-button" data-dismiss="modal">
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="popup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Введите информацию о ресурсе</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="literature-button" onclick="save();">
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="section-popup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Введите информацию о ресурсе</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="literature-button" onclick="saveSection();">
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="remove-popup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Удаление записи</h4>
            </div>
            <div class="modal-body">
                <span>Вы действительно хотите удалить этот ресурс?</span>
            </div>
            <div class="modal-footer">
                <button onclick="remove();" class="literature-button" data-dismiss="modal">
                    Удалить
                </button>
                <button class="literature-button" data-dismiss="modal" style="background-color: rgba(230, 230, 230, 0.43)">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>