﻿
@{
    ViewBag.Title = "Админ: таблицы";
}
<h2>Таблицы</h2>
<hr />
<div class="container">
    <div class="list-group">
        @Html.ActionLink("Пользователи", "Users", null, new { @class = "list-group-item" })
        @Html.ActionLink("Должности", "JobRoles", null, new { @class = "list-group-item" })
        @Html.ActionLink("Структурные подразделения", "StructureDepartments", null, new { @class = "list-group-item" })
        @Html.ActionLink("Роли", "Roles", null, new { @class = "list-group-item" })
    </div>
</div>