﻿@{
    ViewBag.Title = "Админ: должности";
}
<h2>Должности</h2>
<hr />

        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">Id</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
            @for (int i = 0; i < ViewBag.JobRoles.Count; i++)
            {
                <tr>
                    <td class="text-right">@ViewBag.JobRoles[i].Id</td>
                    <td><input type="text" id=@("change-name-"+ i) value=@Html.Raw(ViewBag.JobRoles[i].Name.Replace(" ", "&nbsp;")) class="form-control"></td>
                    <td class="text-center">
                        <div style="display: inline-block">
                            @using (Html.BeginForm("JobRoles", "Admin", FormMethod.Post, new { onsubmit = "return Action('change-'," + i + ")" }))
                            {
                                @Html.Hidden("IdToChange", (int)ViewBag.JobRoles[i].Id)
                                @Html.Hidden("NameToChange", "", new { id = "change-post-name-" + i })
                                <input type="submit"
                                       class="btn btn-default btn-xs"
                                       value="Изменить" />
                            }
                        </div>
                        <div style="display: inline-block">
                            @using (Html.BeginForm("JobRoles", "Admin", FormMethod.Post))
                            {
                                @Html.Hidden("IdToDelete", (int)ViewBag.JobRoles[i].Id)
                                <input type="submit"
                                       class="btn btn-default btn-xs"
                                       value="Удалить" />
                            }
                        </div>
                    </td>
                </tr>
            }
        </table>
        <input class="btn btn-default" id="create" value="Добавить"/>

<div id="create-popup" style="display:none; overflow-y: scroll;">
    @using (Html.BeginForm("JobRoles", "Admin", FormMethod.Post))
    {
        <div class="form-group">
            <label>Название</label>
            <input class="form-control" type="text" placeholder="..." name="NameToCreate"/>
            <br />
            <input type="submit"
                   class="btn btn-default"
                   value="Добавить" />
        </div>
    }
</div>

<script type="text/javascript">
    function Action(action, i) {
        var name = $("#" + action + "name-" + i).val();
        if (name != ""){
            $("#" + action + "post-name-" + i).val(name);
            return true;
        }
        else
            return false;
    }
    $('#create').popup({
        content: $('#create-popup')
    });
</script>
