﻿
@{
    ViewBag.Title = "Админ: роли";
}

<h2>Роли</h2>
<hr />

<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>Название</th>
        <th>Действия</th>
    </tr>
    @for (int i = 0; i < ViewBag.Roles.Count; i++)
            {
        <tr>
            <td><input type="text" id=@("change-name-"+ i) value=@Html.Raw(ViewBag.Roles[i].Replace(" ", "&nbsp;")) class="form-control"></td>
            <td class="text-center">
                <div style="display: inline-block">
                    @using (Html.BeginForm("Roles", "Admin", FormMethod.Post, new { onsubmit = "return Action('change-'," + i + ")" }))
                    {
                        @Html.Hidden("OldName", Html.Raw((string)ViewBag.Roles[i].Replace(" ", "&nbsp;")))
                        @Html.Hidden("NewName", "", new { id = "change-post-name-" + i })
                        <input type="submit"
                               class="btn btn-default btn-xs"
                               value="Изменить" />
                    }
                </div>
                <div style="display: inline-block">
                    @using (Html.BeginForm("Roles", "Admin", FormMethod.Post))
                    {
                        @Html.Hidden("NameToDelete", Html.Raw((string)ViewBag.Roles[i].Replace(" ", "&nbsp;")))
                        <input type="submit"
                               class="btn btn-default btn-xs"
                               value="Удалить" />
                    }
                </div>
            </td>
        </tr>
    }
</table>
<input class="btn btn-default" id="create" value="Добавить" />

<div id="create-popup" style="display:none; overflow-y: scroll;">
    @using (Html.BeginForm("Roles", "Admin", FormMethod.Post))
    {
        <div class="form-group">
            <label>Название</label>
            <input class="form-control" type="text" placeholder="..." name="NameToCreate" />
            <br />
            <input type="submit"
                   class="btn btn-default"
                   value="Добавить" />
        </div>
    }
</div>

<script type="text/javascript">
    function Action(action, i) {
        var name = $("#" + action + "name-" + i).val();
        if (name != ""){
            $("#" + action + "post-name-" + i).val(name);
            return true;
        }
        else
            return false;
    }
    $('#create').popup({
        content: $('#create-popup')
    });
</script>
