﻿
@{
    ViewBag.Title = "Админ: пользователи";
}
<h2>Пользователи</h2>
<hr />

<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Email</th>
        <th>Id структурного подразделения</th>
        <th>Id должности</th>
    </tr>
    @for (int i = 0; i < ViewBag.Users.Count; i++)
            {
        <tr>
            <td>@(Html.Raw(ViewBag.Users[i].FirstName != null ? ViewBag.Users[i].FirstName.Replace(" ", "&nbsp;") : ""))</td>
            <td>@(Html.Raw(ViewBag.Users[i].LastName != null ? ViewBag.Users[i].LastName.Replace(" ", "&nbsp;") : ""))</td>
            <td>@(Html.Raw(ViewBag.Users[i].SecondName != null ? ViewBag.Users[i].SecondName.Replace(" ", "&nbsp;") : ""))</td>
            <td>@ViewBag.Users[i].Email</td>
            <td>@(Html.Raw(ViewBag.Users[i].StructureDepartmentId != 0 ? ViewBag.Users[i].StructureDepartmentId : ""))</td>
            <td>@(Html.Raw(ViewBag.Users[i].JobRoleId != 0 ? ViewBag.Users[i].JobRoleId : ""))</td>
            <td class="text-center">
                <div style="display: inline-block">
                    @using (Html.BeginForm("Users", "Admin", FormMethod.Post))
                    {
                        @Html.Hidden("Email", (string)@ViewBag.Users[i].Email)
                        <input type="submit"
                               class="btn btn-default btn-xs"
                               value="Удалить" />
                    }
                </div>
            </td>
        </tr>
    }
</table>