﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--Иконки Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/select2")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/app")
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
                $.widget.bridge('uibutton', $.ui.button);
    </script>
</head>
<body class="hold-transition skin-black-light sidebar-mini">
    
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Лого -->
            <a href="/" class="logo">
                <!-- мини лого для сайдбара 50x50  -->
                <span class="logo-mini"><b>O</b>EDU</span>
                <!-- Нормальное лого -->
                <span class="logo-lg"><b>Open</b>Education</span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="header">Меню</li>
                    <!-- Optionally, you can add icons to the links -->
                    @if (User.IsInRole("superuser"))
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-magic"></i> <span>Учебные планы</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Html.Raw(Url.Action("GetAcademicPlans", "AcademicPlan"))"><i class="fa fa-circle-o"></i> Список УП</a></li>
                                <li><a href="@Html.Raw(Url.Action("Index", "AcademicPlan"))"><i class="fa fa-circle-o"></i> Загрузить УП</a></li>
                            </ul>
                        </li>
                    }
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-magic"></i> <span>Генератор РПД</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                @Html.ActionLink("Мои РПД", "GetUserRPDs", "RpdGenerator")
                            </li>
                            @if (User.IsInRole("superuser"))
                            {
                                <li>
                                    @Html.ActionLink("Выбор дисциплины", "Index", "RpdGenerator")
                                </li>
                            }
                            @if (ViewBag.Plan != null) {
                                @:<li><a href = "@Html.Raw(Url.Action("DisciplineInformation", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))" ><i class="fa fa-circle-o"></i> Информация о курсе</a></li>
                                @:<li><a href = "@Html.Raw(Url.Action("EditLiterature", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))" ><i class="fa fa-circle-o"></i> Литература</a></li>
                                @:<li><a href = "@Html.Raw(Url.Action("EditCompetencies", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))" ><i class="fa fa-circle-o"></i> Компетенции</a></li>
                                @:<li><a href = "@Html.Raw(Url.Action("EditStructure", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))" ><i class="fa fa-circle-o"></i> Структура курса</a></li>
                                @:<li><a href="@Html.Raw(Url.Action("CopyRPD", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))"><i class="fa fa-circle-o"></i> Копирование дисциплины</a></li>
                                @:<li><a href="@Html.Raw(Url.Action("GenerateRPD", "RpdGenerator", new { @plan = ViewBag.Plan, @discipline = ViewBag.Discipline }))"><i class="fa fa-circle-o"></i> Скачать документ</a></li>
                            }
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
    <div class="content-wrapper" style="min-height: 500px;">
        @RenderBody()
    </div>

    </div>
  
        <!-- Left side column. contains the logo and sidebar -->

    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            Челябинский Государственный Университет
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; @DateTime.Now.Year <a href="/">Институт Информационных Технологий</a>.</strong>
    </footer>
</body>
</html >
