﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using EducationalProgramGenerator.BLL.Interfaces;
@using EducationalProgramGenerator.BLL.Services;
@using System.Threading.Tasks;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Здравствуйте, " + HttpContext.Current.GetOwinContext()
            .GetUserManager<IUserService>()
            .FindById(Context.User.Identity.GetUserId()).FirstName + " " + HttpContext.Current.GetOwinContext()
            .GetUserManager<IUserService>()
            .FindById(Context.User.Identity.GetUserId()).LastName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
