﻿@using EducationalProgramGenerator.WEB.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

<div class="content-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="content">
    <div class="box box-solid">
        <div class="box-body">
            <div class="div-center">
                <h4>Используйте локальную учетную запись для входа</h4>
                <hr />
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="Выполнить вход" />
                        </div>
                        @* Включите, когда будет включено подтверждение учетной записи для функции сброса пароля
                            <p>
                                @Html.ActionLink("Забыли пароль?", "ForgotPassword")
                            </p>*@
                    }
                </section>
            </div>
        </div>
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

