﻿@model EducationalProgramGenerator.WEB.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<div class="content-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="content">
    <div class="box box-solid">
        <div class="box-body">
            <div class="div-center">
                <h4>Создайте новую учетную запись</h4>
                <hr />

                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        <div style="color: red; display:inline">*</div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName)
                        <div style="color: red; display:inline">*</div>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName)
                        <div style="color: red; display:inline">*</div>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SecondName)
                        @Html.TextBoxFor(m => m.SecondName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.StructureDepartmentID)
                        @Html.DropDownListFor(m => m.StructureDepartmentID, new SelectList(@ViewBag.StructureDepartments, "Id", "Name"), new { @class = "form-control", @style = "margin-bottom: 20px" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        <div style="color: red; display:inline">*</div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        <div style="color: red; display:inline">*</div>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-sm" value="Регистрация" />
                    </div>
                }

            </div>
        </div>
    </div>
</div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
