﻿@using EducationalProgramGenerator.BLL.DTO;
@{
    ViewBag.Title = ((AcademicPlanItemDTO)ViewBag.AcademicPlan).Knowledges[0].Name;
}
@Styles.Render("~/Content/handsontable")
@Scripts.Render("~/bundles/handsontable")
<style type="text/css" data-jsfiddle="common">
    .handsontable .currentRow {
        background-color: #E7E8EF;
    }

    .handsontable .currentCol {
        background-color: #F9F9FB;
    }
</style>
<section class="content-header">
    <h1>
        @(((AcademicPlanItemDTO)ViewBag.AcademicPlan).Knowledges[0].Name)
    </h1>
</section>

<!-- Main content -->
<section class="content section-list">
    <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">План</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Карта курса</a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Выпадающий <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Сделать что-то</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Еще действие</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Подменю</a></li>
                        </ul>
                    </li>
                    <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <b>Заголовок</b>

                        <p>Место для кнопок, если будут нужны</p>

                        <div class="pad" data-jsfiddle="example1">
                            <div class="row">

                                <div class="col-md-12">
                                    <div style="overflow:auto; width:100%; height:600px;">
                                        <div id="example1"></div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <div id="calendar"></div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
</section>

<script type="text/javascript" data-jsfiddle="example1">
    var container = document.getElementById('example1'),
        hot,
        yellowRenderer,
        grayRenderer,
        greenRenderer;

    yellowRenderer = function (instance, td, row, col, prop, value, cellProperties) {
        Handsontable.renderers.TextRenderer.apply(this, arguments);
        td.style.backgroundColor = 'yellow';

    };

    greenRenderer = function (instance, td, row, col, prop, value, cellProperties) {
        Handsontable.renderers.TextRenderer.apply(this, arguments);
        td.style.backgroundColor = 'green';

    };

    grayRenderer = function (instance, td, row, col, prop, value, cellProperties) {
        Handsontable.renderers.TextRenderer.apply(this, arguments);
        td.style.backgroundColor = 'whitesmoke';

    };

    function readOnlyRenderer(instance, td, row, col, prop, value, cellProperties) {
        Handsontable.renderers.TextRenderer.apply(this, arguments);
        td.style.fontWeight = 'bold';
        td.style.color = 'gray';
        td.style.background = 'whitesmoke';
    }

    @{
        var academicPlan = (PlanItemDTO)ViewBag.AcademicPlan;
        var semesterCount = academicPlan.Children.SelectMany(x => x.Children).Max(x => x.OrderNumber);
        var table_data = new List<Dictionary<string, string>>();

        foreach (var discipline in academicPlan.Children)
        {
            var row = new Dictionary<string, string>();
            row["code"] = (discipline.Knowledges[0] as DisciplineDTO).Code;
            row["disc"] = (discipline.Knowledges[0] as DisciplineDTO).Name;
            row["zet"] = discipline.Zet.ToString();
            row["hoursInZet"] = (discipline as DisciplineItemDTO).HoursInZet.ToString();
            row["exam"] = string.Join("", discipline.Children.Cast<SemesterItemDTO>().Where(x => x.Exam != 0).Select(x => x.OrderNumber).ToArray());
            row["pass"] = string.Join("", discipline.Children.Cast<SemesterItemDTO>().Where(x => x.Pass).Select(x => x.OrderNumber).ToArray());
            row["gradedTest"] = string.Join("", discipline.Children.Cast<SemesterItemDTO>().Where(x => x.GradedTest).Select(x => x.OrderNumber).ToArray());
            row["courseWork"] = string.Join("", discipline.Children.Cast<SemesterItemDTO>().Where(x => x.CourseWork).Select(x => x.OrderNumber).ToArray());
            for (int i = 1; i <= semesterCount; i++)
            {
                if (discipline.Children.Where(x => x.OrderNumber == i).FirstOrDefault() != null)
                {
                    var pr = discipline.Children.Where(x => x.OrderNumber == i).SelectMany(x => x.Children).Where(x => x.Type == "Практики").FirstOrDefault().Hours.ToString();
                    var lec = discipline.Children.Where(x => x.OrderNumber == i).SelectMany(x => x.Children).Where(x => x.Type == "Лекции").FirstOrDefault().Hours.ToString();
                    var zet = discipline.Children.Where(x => x.OrderNumber == i).FirstOrDefault().Zet.ToString();
                    var kontr = discipline.Children.Where(x => x.OrderNumber == i).Cast<SemesterItemDTO>().FirstOrDefault().Exam.ToString();
                    row["pr-" + i] = pr != "0" ? pr : "";
                    row["lec-" + i] = lec != "0" ? lec : "";
                    row["zet-" + i] = zet != "0" ? zet : "";
                    row["control-" + i] = kontr != "0" ? kontr : "";
                }
                else
                {
                    row["pr-" + i] = "";
                    row["lec-" + i] = "";
                    row["zet-" + i] = "";
                    row["control-" + i] = "";
                }
            }
            table_data.Add(row);
        }
    }

    var semesterCount = @Html.Raw(Json.Encode(
                 semesterCount
                 ));

    var disciplinesCount = @Html.Raw(Json.Encode(
                 table_data.Count
                 ));

    table_head = [{ code: "Код", disc: "Дисциплина", byZet: "Всего часов", zet: "ЗЕТ", exam: "Форма контроля", hoursInZet: "Часов в ЗЕТ" },

        { byZet: "По ЗЕТ", contactWork: "в том числе", exam: "Экз.", pass: "Зач.", gradedTest: "Зач. с оц.", courseWork: "Курс-я" },

        { contactWork: "Контакт. раб.", srs: "СРС", control: "Контроль" }
    ]

    columns = [
        { data: "code", type: 'text' },
        { data: "disc", type: 'text' },
        { data: "byZet", type: 'numeric' },
        /////
        { data: "contactWork", type: 'numeric' },
        { data: "srs", type: 'numeric' },
        { data: "control", type: 'numeric' },
        /////
        { data: "zet", type: 'numeric' },
        { data: "exam", type: 'numeric' },
        { data: "pass", type: 'numeric' },
        { data: "gradedTest", type: 'numeric' },
        { data: "courseWork", type: 'numeric' },

    ];

    mergedCells = [
        { row: 0, col: 0, rowspan: 3, colspan: 1 },// Код
        { row: 0, col: 1, rowspan: 3, colspan: 1 },// Дисциплина
        { row: 0, col: 2, rowspan: 1, colspan: 4 },// Всего часов


        { row: 1, col: 3, rowspan: 1, colspan: 3 },// Всего часов - в том числе
        { row: 1, col: 2, rowspan: 2, colspan: 1 },// Всего часов - по ЗЕТ

        { row: 0, col: 6, rowspan: 3, colspan: 1 },// ЗЕТ

        { row: 0, col: 7, rowspan: 1, colspan: 4 },// Формы контроля
        { row: 1, col: 7, rowspan: 2, colspan: 1 },// Экзамен
        { row: 1, col: 8, rowspan: 2, colspan: 1 },// Зачет
        { row: 1, col: 9, rowspan: 2, colspan: 1 },// Зачет с оценкой
        { row: 1, col: 10, rowspan: 2, colspan: 1 },// Курсовая
    ];

    customBorders = []

    for (var i = 1; i <= semesterCount; i++) {
        if (i % 2 == 1) {
            table_head[0]["lec-" + i] = (i / 2 + 0.5) + " курс";
            shift = i == semesterCount ? 5 : 10;
            mergedCells.push({ row: 0, col: 11 + (i/2-0.5)*10, rowspan: 1, colspan: shift });
        }
        table_head[1]["lec-" + i] = i + " семестр";
        table_head[2]["lec-" + i] = "Лек.";
        table_head[2]["pr-" + i] = "Прак.";
        table_head[2]["srs-" + i] = "СРС";
        table_head[2]["control-" + i] = "Контр.";
        table_head[2]["zet-" + i] = "ЗЕТ";

        columns.push({ data: "lec-" + i, type: 'numeric' },
            { data: "pr-" + i, type: 'numeric' },
            { data: "srs-" + i, type: 'numeric' },
            { data: "control-" + i, type: 'numeric' },
            { data: "zet-" + i, type: 'numeric' });

        mergedCells.push({ row: 1, col: 11 + (i - 1) * 5, rowspan: 1, colspan: 5 });

        customBorders.push({
            range: {
                from: {
                    row: 3,
                    col: 15 + (i - 1) * 5
                },
                to: {
                    row: 3 + disciplinesCount,
                    col: 15 + (i - 1) * 5
                }
            },
            right: {
                width: 3,
                color: 'lightgray'
            }
        },
        {
            range: {
                from: {
                    row: 3,
                    col: 11 + (i - 1) * 5
                },
                to: {
                    row: 3 + disciplinesCount,
                    col: 11 + (i - 1) * 5
                }
            },
            left: {
                width: 3,
                color: 'lightgray'
            }
        });
    }

    columns.push({ data: "hoursInZet", type: 'numeric' });
    mergedCells.push({ row: 0, col: 11 + semesterCount * 5, rowspan: 3, colspan: 1 });

    table_data = @Html.Raw(Json.Encode(table_data));

    var table = table_head.concat(table_data);

    hot = new Handsontable(container, {
        data: table,

        columns: columns,
        mergeCells: mergedCells,
        colHeaders: false,
        colWidths: [75, 210, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47],

        rowHeaders: false,
        stretchH: "all",
        contextMenu: false,
        minSpareRows: 1,
        fixedRowsTop: 3,
        fixedColumnsLeft: 11,
        //autoRowSize: { syncLimit: 10 },
        rowHeights: 64,
        currentRowClassName: 'currentRow',
        currentColClassName: 'currentCol',
        fillHandle: false,
        className: "htCenter",
        rowHeaders: true,
        customBorders: customBorders,
        manualRowResize: true
    });

    function sumZet(instance, td, row, col, prop, value, cellProperties) {
        Handsontable.renderers.TextRenderer.apply(this, arguments);
        td.style.fontWeight = 'bold';
        td.style.color = 'gray';
        td.style.background = 'whitesmoke';
        var zet = instance.getDataAtProp("zet")[row] * instance.getDataAtProp("hoursInZet")[row];
        td.innerHTML = zet != "0" ? zet : "";
    }

    function calculateSemesterSrs(instance, td, row, col, prop, value, cellProperties) {
        Handsontable.renderers.TextRenderer.apply(this, arguments);
        td.style.fontWeight = 'bold';
        td.style.color = 'gray';
        td.style.background = 'whitesmoke';
        var semesterNumber = prop.split('-')[1];
        //srs = hoursInZet * zet-№ - lec-№ - pr-№ - kontr-№
        var srs = instance.getDataAtProp("zet-" + semesterNumber)[row] * instance.getDataAtProp("hoursInZet")[row] - instance.getDataAtProp("lec-" + semesterNumber)[row] - instance.getDataAtProp("pr-" + semesterNumber)[row] - instance.getDataAtProp("control-" + semesterNumber)[row];
        td.innerHTML = srs != "0" ? srs : "";
    }

    function calculateSrs(instance, td, row, col, prop, value, cellProperties) {
        Handsontable.renderers.TextRenderer.apply(this, arguments);
        td.style.fontWeight = 'bold';
        td.style.color = 'gray';
        td.style.background = 'whitesmoke';
        var srs = 0;
        for (var i = 1; i <= semesterCount; i++) {
            srs += instance.getDataAtProp("zet-" + i)[row] * instance.getDataAtProp("hoursInZet")[row] - instance.getDataAtProp("lec-" + i)[row] - instance.getDataAtProp("pr-" + i)[row] - instance.getDataAtProp("control-" + i)[row];
        }
        td.innerHTML = srs != "0" ? srs : "";
    }

    function calculateControl(instance, td, row, col, prop, value, cellProperties) {
        Handsontable.renderers.TextRenderer.apply(this, arguments);
        td.style.fontWeight = 'bold';
        td.style.color = 'gray';
        td.style.background = 'whitesmoke';
        var control = 0;
        for (var i = 1; i <= semesterCount; i++) {
            control += Number(instance.getDataAtProp("control-" + i)[row]);
        }
        td.innerHTML = control != "0" ? control : "";
    }

    function calculateContactWork(instance, td, row, col, prop, value, cellProperties) {
        Handsontable.renderers.TextRenderer.apply(this, arguments);
        td.style.fontWeight = 'bold';
        td.style.color = 'gray';
        td.style.background = 'whitesmoke';
        var contactWork = 0;
        for (var i = 1; i <= semesterCount; i++) {
            contactWork += Number(instance.getDataAtProp("pr-" + i)[row]) + Number(instance.getDataAtProp("lec-" + i)[row]);
        }
        td.innerHTML = contactWork != "0" ? contactWork : "";
    }

    hot.updateSettings({
        cells: function (row, col, prop) {
            var cellProperties = {};

            if (prop == "byZet") {
                cellProperties.readOnly = true;
                cellProperties.renderer = sumZet;
            }

            for (var i = 1; i <= semesterCount; i++) {
                if (prop == "srs-" + i) {
                    cellProperties.readOnly = true;
                    cellProperties.renderer = calculateSemesterSrs;
                }
            }

            if (prop == "contactWork") {
                cellProperties.readOnly = true;
                cellProperties.renderer = calculateContactWork;
            }

            if (prop == "srs") {
                cellProperties.readOnly = true;
                cellProperties.renderer = calculateSrs;
            }

            if (prop == "control") {
                cellProperties.readOnly = true;
                cellProperties.renderer = calculateControl;
            }

            if (prop == "exam") {
                cellProperties.readOnly = true;
                cellProperties.renderer = readOnlyRenderer;
            }

            if (row === 0 || row === 1 || row === 2) {
                cellProperties.readOnly = true;
                cellProperties.renderer = readOnlyRenderer;
            }
            return cellProperties;
        }
    });
</script>