﻿@using EducationalProgramGenerator.BLL.DTO;
@{
    ViewBag.Title = "Учебные планы кафедры";
}
@Styles.Render("~/Content/handsontable")
@Scripts.Render("~/bundles/handsontable")
<style type="text/css">
    .handsontable .currentRow, .handsontable .current {
        background-color: #c2cff3;
    }
</style>
<section class="content-header">
    <h1>
        Учебные планы кафедры
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <input type="button" onclick="redirectToDiscipline();" class="btn btn-default" style="margin-bottom: 5px;" value="Редактировать">
    <div id="hot-table" class="hot handsontable htColumnHeaders" style="overflow:auto; width:100%; height:100%;"></div>
</section>

<script type="text/javascript">
    var plan = null;

    function redirectToDiscipline() {
        if (plan !== null) {
            window.location.href = '@Html.Raw(Url.Action("EditAcademicPlan", "AcademicPlan", new { @plan = "js-plan"}))'
                .replace("js-plan", encodeURIComponent(plan));
        }
    }

    $(function () {

        var ses = @Html.Raw(Json.Encode(
                 ((IEnumerable<AcademicPlanItemDTO>)ViewBag.AcademicPlans).Select(x => new
                 {
                    direction = x.Direction,
                    qualification = x.Qualification,
                    modeOfStudy = x.ModeOfStudy,
                    startYear = x.StartYear
                 }
                 )));
        var data = ses,
            container1 = document.getElementById('hot-table'),
            hot;

        hot = new Handsontable(container1, {
            data: data,
            rowHeaders: true,
            colHeaders: ['Направление', 'Квалификация', 'Форма обучения', 'Год'],
            columns: [
                { data: 'direction', editor: false },
                { data: 'qualification', editor: false },
                { data: 'modeOfStudy', editor: false },
                { data: 'startYear', editor: false }
            ],
            afterSelection: function (r, c) {
                var data = this.getDataAtRow(r);
                plan = data[0] + " " + data[3] + " (" + data[1] + ", " + data[2] + ")";
            },
            beforeKeyDown: function (event) {
                if (e.keyCode === 46) {
                    Handsontable.Dom.enableImmediatePropagation(event);
                    event.stopImmediatePropagation();
                }
            },
            multiSelect: false,
            outsideClickDeselects: false,
            //disableVisualSelection: ['current', 'area'],
            currentRowClassName: 'currentRow',
            stretchH: "all",
            //preventOverflow: 'horizontal',
            //autoWrapRow: true,
            colWidths: [230, 130, 130, 70],
            contextMenu: false,
            fillHandle: false
        });
    });

</script>