﻿@model dynamic

@{
    ViewBag.Title = "Учебные планы";
}

<div class="content-header">
    <h1>Учебные планы</h1>
</div>
<div class="content">
    <div class="box box-solid">
        <div class="box-body">
            <ul>
                @foreach (var plan in @ViewBag.Plans)
                {
                    <li>@plan</li>
                }
            </ul>
            <hr />
            <h4>Загрузить учебный план</h4>
            @using (Html.BeginForm("Upload", "AcademicPlan", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="upload" />
                <br>
                <input type="submit" class="btn btn-primary btn-sm" value="Загрузить" />
            }
        </div>
    </div>
</div>
